sta-data/schema/spacescenario/2.0/scenarioSC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/scenario"
	xmlns:tns="http://www.example.org/scenario" elementFormDefault="qualified">

	<element name="SC" substitutionGroup="tns:AbstractParticipant">
		<complexType>
			<complexContent>
				<extension base="tns:ParticipantType">
					<sequence>
						<element ref="tns:SCProgram"></element>
						<element ref="tns:SCMission"></element>
						<element name="System" type="tns:SCSystemType"></element>
						<element ref="tns:Optimization"></element>
						<element ref="tns:OutputFiles"></element>
					</sequence>
					<attribute name="name" type="string"></attribute>
					<attribute name="appearance" type="string"></attribute>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="SCProgram">
		<complexType>
			<sequence>
            </sequence>
        </complexType>
    </element>

    <element name="SCMission">
      <complexType>
        <sequence>
		  <element name="Payload">
			<complexType>
			  <sequence>
				<element name="mass" type="double"></element>
				<element name="power" type="double"></element>
				<element ref="tns:ObservationAntenna" minOccurs="0"></element>
			  </sequence>
			</complexType>
		  </element>
		  <element name="TrajectoryPlan">
			<complexType>
			  <sequence>
				<element ref="tns:AbstractTrajectory" maxOccurs="unbounded"></element>
			  </sequence>
			</complexType>
		  </element>
		</sequence>
	  </complexType>
	</element>

	<!-- Trajectories -->

	<element name="Loitering" substitutionGroup="tns:AbstractTrajectory"
		type="tns:LoiteringType"></element>
	<element name="Lagrangian" substitutionGroup="tns:AbstractTrajectory"
		type="tns:LagrangianType"></element>
	<element name="Rendezvous" substitutionGroup="tns:AbstractTrajectory"
		type="tns:RendezvousType"></element>
	<element name="FlyBy" substitutionGroup="tns:AbstractTrajectory"
		type="tns:FlyByType"></element>
	<element name="LoiteringTLE" substitutionGroup="tns:AbstractTrajectory"
		type="tns:LoiteringTLEType"></element>

	<complexType name="SCEnvironmentType">
	  <complexContent>
		<extension base="tns:EnvironmentType">
		  <sequence>
			<element name="perturbingBody" type="tns:ListOfString"></element>
			<element name="atmosphericDrag" type="boolean"></element>
			<element name="solarPressure" type="boolean"></element>
		  </sequence>
		</extension>
	  </complexContent>
	</complexType>

	<complexType name="LoiteringType">
      <complexContent>
        <extension base="tns:AbstractTrajectoryType">
		  <sequence>
			<element name="Environment" type="tns:SCEnvironmentType"></element>
			<element ref="tns:TimeLine"></element>
			<element ref="tns:InitialPosition"/>
			<element ref="tns:InitialAttitude"/>
			<element ref="tns:PropagationPosition"/>
			<element ref="tns:PropagationAttitude"/>
		  </sequence>
        </extension>
      </complexContent>
	</complexType>

	<complexType name="RendezvousType">
      <complexContent>
        <extension base="tns:AbstractTrajectoryType">
		  <sequence>
			<element name="Environment" type="tns:SCEnvironmentType"></element>
			<element name="Parameters">
			  <complexType>
				<sequence>
				  <element ref="tns:TimeLine"/>
			      <element ref="tns:InitialPosition"/>
				</sequence>
			  </complexType>
			</element>
			<element name="Target" type="string"></element>
			<element name="ManoeuvrePlan">
			  <complexType>
				<sequence>
				  <element ref="tns:AbstractManoeuvre" minOccurs="0"
						   maxOccurs="unbounded"></element>
				</sequence>
			  </complexType>
			</element>
		  </sequence>
        </extension>
      </complexContent>
	</complexType>

	<complexType name="LoiteringTLEType">
      <complexContent>
        <extension base="tns:AbstractTrajectoryType">
		  <sequence>
			<element ref="tns:TimeLine"></element>
			<element name="tleLine0" type="string"></element>
			<element name="tleLine1" type="string"></element>
			<element name="tleLine2" type="string"></element>
		  </sequence>
        </extension>
      </complexContent>
	</complexType>

	<element name="AbstractManoeuvre" abstract="true" type="tns:ManoeuvreType"></element>

	<element name="FreeDrift" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_DURATION"></element>
	<element name="StationKeeping" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_DURATION"></element>
	<element name="DeltaV" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_DELTAV"></element>
	<element name="HomannTransfer" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_R_POSITION"></element>
	<element name="Imp2PointTransfer" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_V_R_DURATION"></element>
	<element name="ImpHoppVbarRadial" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_V_POSITION"></element>
	<element name="ImpHoppVbarTg" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_V_POSITION"></element>
	<element name="ImpHoppNoVbar" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_V_POSITION"></element>
	<element name="XThrustTransfer" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_R_POSITION"></element>
	<element name="ForcedVbar" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_V_POSITION"></element>
	<element name="ForcedRbar" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_R_POSITION"></element>
	<element name="ContHoppVbar" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_V_POSITION"></element>

	<complexType name="ManoeuvreType" abstract="true">
		<attribute name="status" use="required">
			<simpleType>
				<restriction base="string">
					<enumeration value="active"></enumeration>
					<enumeration value="inactive"></enumeration>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>

	<complexType name="STA_MANOEUVRE_DURATION">
		<complexContent>
			<extension base="tns:ManoeuvreType">
				<sequence>
					<element name="Duration" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="STA_MANOEUVRE_DELTAV">
		<complexContent>
			<extension base="tns:ManoeuvreType">
				<sequence>
					<element name="DeltaVx" type="double"></element>
					<element name="DeltaVy" type="double"></element>
					<element name="DeltaVz" type="double"></element>
					<element name="Duration" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="STA_MANOEUVRE_V_POSITION">
		<complexContent>
			<extension base="tns:ManoeuvreType">
				<sequence>
					<element name="DisplacementVbar" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="STA_MANOEUVRE_R_POSITION">
		<complexContent>
			<extension base="tns:ManoeuvreType">
				<sequence>
					<element name="DisplacementRbar" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="STA_MANOEUVRE_V_R_POSITION">
		<complexContent>
			<extension base="tns:ManoeuvreType">
				<sequence>
					<element name="DisplacementVbar" type="double"></element>
					<element name="DisplacementRbar" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="STA_MANOEUVRE_V_R_DURATION">
		<complexContent>
			<extension base="tns:ManoeuvreType">
				<sequence>
					<element name="DisplacementVbar" type="double"></element>
					<element name="DisplacementRbar" type="double"></element>
					<element name="Duration" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="LagrangianType">
      <complexContent>
        <extension base="tns:AbstractTrajectoryType">
          <sequence/>
        </extension>
      </complexContent>
    </complexType>

	<complexType name="FlyByType">
      <complexContent>
        <extension base="tns:AbstractTrajectoryType">
          <sequence/>
        </extension>
      </complexContent>
    </complexType>

	<complexType name="SCSystemType">
	  <sequence>
		<element name="SystemBudgets">
		  <complexType>
			<sequence>
			  <element name="Mass">
				<complexType>
				  <sequence>
					<element name="dryMass" type="double"></element>
					<element name="wetMass" type="double"></element>
				  </sequence>
				</complexType>
			  </element>
			  <element name="Power">
				<complexType>
				  <sequence>
					<element name="totalPowerBoL" type="double"></element>
					<element name="totalPowerEoL" type="double"></element>
				  </sequence>
				</complexType>
			  </element>
			  <element name="Link">
				<complexType>
				  <sequence>
					<element name="uplinkMargin" type="double"></element>
					<element name="downlinkMargin" type="double"></element>
				  </sequence>
				</complexType>
			  </element>
			</sequence>
		  </complexType>
		</element>
		<element name="SCAerodynamics">
		  <complexType>
			<sequence>
			  <element name="surfaceArea" type="double"></element>
			  <element name="Cd" type="double"></element>
			</sequence>
		  </complexType>
		</element>
		<element name="Propulsion">
		  <complexType>
			<sequence>
			  <element name="numberOfEngines" type="int"></element>
			  <element name="thrustPerEngine" type="double"></element>
			  <element name="specificImpulse" type="double"></element>
			  <element name="propellantMass" type="double"></element>
			  <element name="totalPropulsionDryMass" type="double"></element>
			</sequence>
			<attribute name="type" type="string"></attribute>
		  </complexType>
		</element>
		<element name="Structure">
		  <complexType>
			<sequence>
			  <element name="totalStructureMass" type="double"></element>
			</sequence>
		  </complexType>
		</element>
		<element name="TCS"> <!-- Thermal Control System -->
		  <complexType>
			<sequence>
			  <element name="totalTCSMass" type="double"></element>
			</sequence>
		  </complexType>
		</element>
		<element name="EPS"> <!-- Electrical and Power System -->
		  <complexType>
			<sequence>
			  <element name="totalEPSMass" type="double"></element>
			</sequence>
		  </complexType>
		</element>
		<element name="TTC"> <!-- Telemetry Tracking and Coommunications-->
		  <complexType>
			<sequence>
			  <element name="totalTTCMass" type="double"></element>
			  <element ref="tns:CommunicationAntenna" maxOccurs="unbounded"></element>
			</sequence>
		  </complexType>
		</element>
		<element name="AOCS"> <!-- Attitude and Orbital Control System -->
		  <complexType>
			<sequence>
			  <element name="totalAOCSMass" type="double"></element>
			</sequence>
		  </complexType>
		</element>
		<element name="OBDH"> <!-- On Board Data Handling -->
		  <complexType>
			<sequence>
			  <element name="totalOBDHMass" type="double"></element>
			</sequence>
		  </complexType>
		</element>
	  </sequence>
	</complexType>

</schema>
