sta-data/schema/spacescenario/2.0/scenarioSC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/scenario"
	xmlns:tns="http://www.example.org/scenario" elementFormDefault="qualified">

	<element name="SC" substitutionGroup="tns:AbstractParticipant">
		<complexType>
			<complexContent>
				<extension base="tns:ParticipantType">
					<sequence>
						<element ref="tns:SCProgram"></element>
						<element ref="tns:SCMission"></element>
						<element name="System" type="tns:SCSystemType"></element>
						<element ref="tns:Optimization"></element>
						<element ref="tns:OutputFiles"></element>
					</sequence>
					<attribute name="name" type="string"></attribute>
					<attribute name="appearance" type="string"></attribute>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="SCProgram">
		<complexType>
			<sequence>
			</sequence>
		</complexType>
	</element>

	<element name="SCMission">
		<complexType>
			<sequence>
				<element name="TrajectoryPlan">
					<complexType>
						<sequence>
							<element ref="tns:AbstractTrajectory" minOccurs="0"
								maxOccurs="unbounded"></element>
						</sequence>
					</complexType>
				</element>
				<element name="PayloadPlan">
					<complexType>
						<sequence>
							<element ref="tns:AbstractPayload" maxOccurs="unbounded"></element>
						</sequence>
					</complexType>
				</element>

			</sequence>
		</complexType>
	</element>


	<!-- Payloads -->

	<element name="TransmitterPayload" substitutionGroup="tns:AbstractPayload"
		type="tns:TransmitterPayloadType"></element>

	<element name="ReceiverPayload" substitutionGroup="tns:AbstractPayload"
		type="tns:ReceiverPayloadType"></element>

	<element name="OpticalPayload" substitutionGroup="tns:AbstractPayload"
		type="tns:OpticalPayloadType"></element>

	<element name="RadarPayload" substitutionGroup="tns:AbstractPayload"
		type="tns:RadarPayloadType"></element>


	<!-- Trajectories -->

	<element name="Loitering" substitutionGroup="tns:AbstractTrajectory"
		type="tns:LoiteringType"></element>
	<element name="Lagrangian" substitutionGroup="tns:AbstractTrajectory"
		type="tns:LagrangianType"></element>
	<element name="Rendezvous" substitutionGroup="tns:AbstractTrajectory"
		type="tns:RendezvousType"></element>
	<element name="FlyBy" substitutionGroup="tns:AbstractTrajectory"
		type="tns:FlyByType"></element>
	<element name="LoiteringTLE" substitutionGroup="tns:AbstractTrajectory"
		type="tns:LoiteringTLEType"></element>

	<complexType name="SCEnvironmentType">
		<complexContent>
			<extension base="tns:EnvironmentType">
				<sequence>
					<element name="perturbingBody" type="tns:ListOfString"></element>
					<element name="atmosphericDrag" type="boolean"></element>
					<element name="solarPressure" type="boolean"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="LoiteringType">
		<complexContent>
			<extension base="tns:AbstractTrajectoryType">
				<sequence>
					<element name="Environment" type="tns:SCEnvironmentType"></element>
					<element ref="tns:TimeLine"></element>
					<element ref="tns:InitialPosition" />
					<element ref="tns:InitialAttitude" />
					<element ref="tns:PropagationPosition" />
					<element ref="tns:PropagationAttitude" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RendezvousType">
		<complexContent>
			<extension base="tns:AbstractTrajectoryType">
				<sequence>
					<element name="Environment" type="tns:SCEnvironmentType"></element>
					<element name="Parameters">
						<complexType>
							<sequence>
								<element ref="tns:TimeLine" />
								<element ref="tns:InitialPosition" />
							</sequence>
						</complexType>
					</element>
					<element name="Target" type="string"></element>
					<element name="ManoeuvrePlan">
						<complexType>
							<sequence>
								<element ref="tns:AbstractManoeuvre" minOccurs="0"
									maxOccurs="unbounded"></element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="LoiteringTLEType">
		<complexContent>
			<extension base="tns:AbstractTrajectoryType">
				<sequence>
					<element ref="tns:TimeLine"></element>
					<element name="tleLine0" type="string"></element>
					<element name="tleLine1" type="string"></element>
					<element name="tleLine2" type="string"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="AbstractManoeuvre" abstract="true" type="tns:ManoeuvreType"></element>

	<element name="FreeDrift" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_DURATION"></element>
	<element name="StationKeeping" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_DURATION"></element>
	<element name="DeltaV" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_DELTAV"></element>
	<element name="HomannTransfer" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_R_POSITION"></element>
	<element name="Imp2PointTransfer" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_V_R_DURATION"></element>
	<element name="ImpHoppVbarRadial" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_V_POSITION"></element>
	<element name="ImpHoppVbarTg" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_V_POSITION"></element>
	<element name="ImpHoppNoVbar" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_V_POSITION"></element>
	<element name="XThrustTransfer" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_R_POSITION"></element>
	<element name="ForcedVbar" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_V_POSITION"></element>
	<element name="ForcedRbar" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_R_POSITION"></element>
	<element name="ContHoppVbar" substitutionGroup="tns:AbstractManoeuvre"
		type="tns:STA_MANOEUVRE_V_POSITION"></element>

	<complexType name="ManoeuvreType" abstract="true">
		<attribute name="status" use="required">
			<simpleType>
				<restriction base="string">
					<enumeration value="active"></enumeration>
					<enumeration value="inactive"></enumeration>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>

	<complexType name="STA_MANOEUVRE_DURATION">
		<complexContent>
			<extension base="tns:ManoeuvreType">
				<sequence>
					<element name="Duration" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="STA_MANOEUVRE_DELTAV">
		<complexContent>
			<extension base="tns:ManoeuvreType">
				<sequence>
					<element name="DeltaVx" type="double"></element>
					<element name="DeltaVy" type="double"></element>
					<element name="DeltaVz" type="double"></element>
					<element name="Duration" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="STA_MANOEUVRE_V_POSITION">
		<complexContent>
			<extension base="tns:ManoeuvreType">
				<sequence>
					<element name="DisplacementVbar" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="STA_MANOEUVRE_R_POSITION">
		<complexContent>
			<extension base="tns:ManoeuvreType">
				<sequence>
					<element name="DisplacementRbar" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="STA_MANOEUVRE_V_R_POSITION">
		<complexContent>
			<extension base="tns:ManoeuvreType">
				<sequence>
					<element name="DisplacementVbar" type="double"></element>
					<element name="DisplacementRbar" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="STA_MANOEUVRE_V_R_DURATION">
		<complexContent>
			<extension base="tns:ManoeuvreType">
				<sequence>
					<element name="DisplacementVbar" type="double"></element>
					<element name="DisplacementRbar" type="double"></element>
					<element name="Duration" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="LagrangianType">
		<complexContent>
			<extension base="tns:AbstractTrajectoryType">
				<sequence />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="FlyByType">
		<complexContent>
			<extension base="tns:AbstractTrajectoryType">
				<sequence />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="SCSystemType">
		<sequence>
			<element name="SystemBudgets">
				<complexType>
					<sequence>
						<element name="MassOfSystem">
							<complexType>
								<sequence>
									<element name="dryMass" type="double"></element>
									<element name="wetMass" type="double"></element>
								</sequence>
							</complexType>
						</element>
						<element name="PowerOfSystem">
							<complexType>
								<sequence>
									<element name="totalPowerBoL" type="double"></element>
									<element name="totalPowerEoL" type="double"></element>
								</sequence>
							</complexType>
						</element>
						<element name="Link">
							<complexType>
								<sequence>
									<element name="uplinkMargin" type="double"></element>
									<element name="downlinkMargin" type="double"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="SCAerodynamics">
				<complexType>
					<sequence>
						<element name="surfaceArea" type="double"></element>
						<element name="Cd" type="double"></element>
					</sequence>
				</complexType>
			</element>
			<element name="Propulsion">
				<complexType>
					<sequence>
						<element name="numberOfEngines" type="int"></element>
						<element name="thrustPerEngine" type="double"></element>
						<element name="specificImpulse" type="double"></element>
						<element name="propellantMass" type="double"></element>
						<element name="totalPropulsionDryMass" type="double"></element>
					</sequence>
					<attribute name="type" type="string"></attribute>
				</complexType>
			</element>
			<element name="Structure">
				<complexType>
					<sequence>
						<element name="StructuralShape" type="string"></element>
						<element name="Sizing">
							<complexType>
								<sequence>
									<element name="volume" type="double"></element>
									<element name="width" type="double"></element>
									<element name="length" type="double"></element>
									<element name="height" type="double"></element>
								</sequence>
							</complexType>
						</element>
						<element name="MomentsOfInertia">
							<complexType>
								<sequence>
									<element name="xAxis" type="double"></element>
									<element name="yAxis" type="double"></element>
									<element name="zAxis" type="double"></element>
								</sequence>
							</complexType>
						</element>
						<element name="SecondMomentsOfArea">
							<complexType>
								<sequence>
									<element name="xAxis" type="double"></element>
									<element name="yAxis" type="double"></element>
									<element name="zAxis" type="double"></element>
								</sequence>
							</complexType>
						</element>
						<element name="NaturalFrequency">
							<complexType>
								<sequence>
									<element name="axialFrequency" type="double"></element>
									<element name="lateralFrequency" type="double"></element>
								</sequence>
							</complexType>
						</element>
						<element name="totalStructureMass" type="double"></element>
					</sequence>
				</complexType>
			</element>
			<element name="TCS"> <!-- Thermal Control System -->
				<complexType>
					<sequence>
						<element name="Temperature">
							<complexType>
								<sequence>
									<element name="maximumSCTemperature" type="double"></element>
									<element name="minimumSCTemperature" type="double"></element>
								</sequence>
							</complexType>
						</element>
						<element name="heaterPower" type="double"></element>
						<element name="radiatedPower" type="double"></element>
						<element name="CoatingArea">
							<complexType>
								<sequence>
									<element name="ColdSurface">
										<complexType>
											<sequence>
												<element name="ColdCoating">
													<complexType>
														<sequence>
															<element name="emissivity" type="double"></element>
															<element name="absorptivity" type="double"></element>
														</sequence>
													</complexType>
												</element>
												<element name="totalColdArea" type="double"></element>
											</sequence>
										</complexType>
									</element>
									<element name="HotSurface">
										<complexType>
											<sequence>
												<element name="HotCoating">
													<complexType>
														<sequence>
															<element name="emissivity" type="double"></element>
															<element name="absorptivity" type="double"></element>
														</sequence>
													</complexType>
												</element>
												<element name="totalHotArea" type="double"></element>
											</sequence>
										</complexType>
									</element>
								</sequence>
							</complexType>
						</element>
						<element name="totalTCSMass" type="double"></element>
					</sequence>
				</complexType>
			</element>
			<element name="EPS"> <!-- Electrical and Power System -->
				<complexType>
					<sequence>
						<element name="SolarArray">
							<complexType>
								<sequence>
									<element name="SACellType" type="string"></element>
									<element name="massOfSolarArray" type="double"></element>
									<element name="areaOfSolarArray" type="double"></element>
								</sequence>
							</complexType>
						</element>
						<element name="BatteryType">
							<complexType>
								<sequence>
									<element name="BatteryType" type="string"></element>
									<element name="totalMassOfBatteries" type="double"></element>
									<element name="numberOfBatteries" type="double"></element>
									<element name="totalVolumeOfBatteries" type="double"></element>
								</sequence>
							</complexType>
						</element>
						<element name="massOfPCU" type="double"></element>
						<element name="totalEPSMass" type="double"></element>
					</sequence>
				</complexType>
			</element>
			<element name="TTC"> <!-- Telemetry Tracking and Coommunications-->
				<complexType>
					<sequence>
						<element name="totalTTCMass" type="double"></element>
						<element name="TTCAntenna">
							<complexType>
								<sequence>
									<element name="TransmitterPower" type="double"></element>
									<element name="TransmitterFrequency" type="double"></element>
									<element name="TransmitterGain" type="double"></element>
									<element name="LinkDuration" type="double"></element>
									<element name="DataRate" type="double"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="AOCS"> <!-- Attitude and Orbital Control System -->
				<complexType>
					<sequence>
						<element name="totalAOCSMass" type="double"></element>
					</sequence>
				</complexType>
			</element>
			<element name="OBDH"> <!-- On Board Data Handling -->
				<complexType>
					<sequence>
						<element name="totalOBDHMass" type="double"></element>
						<element name="totalSizeOfMemory" type="double"></element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>


	<complexType name="TransmitterPayloadType">
		<complexContent>
			<extension base="tns:AbstractPayloadType">
				<sequence>
					<element ref="tns:Transmitter"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ReceiverPayloadType">
		<complexContent>
			<extension base="tns:AbstractPayloadType">
				<sequence>
					<element ref="tns:Receiver"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="OpticalPayloadType">
		<complexContent>
			<extension base="tns:AbstractPayloadType">
				<sequence>
					<element ref="tns:Telescope"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RadarPayloadType">
		<complexContent>
			<extension base="tns:AbstractPayloadType">
				<sequence>
					<element ref="tns:Radar"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>



</schema>
