sta-data/schema/spacescenario/2.0/scenarioLV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/scenario"
	xmlns:tns="http://www.example.org/scenario" elementFormDefault="qualified">
	<include schemaLocation="sharedElements.xsd" />
	<include schemaLocation="optimization.xsd" />
	<element name="LV" substitutionGroup="tns:AbstractParticipant">
		<complexType>
			<complexContent>
				<extension base="tns:ParticipantType">
					<sequence>
						<element name="Program" type="tns:LVProgramType"></element>
						<element name="Mission" type="tns:LVMissionType"></element>
						<element name="System" type="tns:LVSystemType"></element>
						<element ref="tns:MDOarchitecture"></element>
						<element ref="tns:OutputFiles"></element>
					    <element name="Appearance" type="string"></element>
					    <element name="MODE" type="int" minOccurs="0"></element>
					    <element name="PRINT" type="int" minOccurs="0"></element>
                    </sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<complexType name="LVProgramType">
		<sequence>
		  <element name="nLaunches" type="int"></element>
		  <element name="nYearsOps" type="double"></element>
		  <element name="nLaunchesPerYear" type="int"></element>
		  <element name="ProgramCostFactors" type="tns:LVProgramCostFactorsType"></element>
		</sequence>
  	</complexType>

	<complexType name="LVMissionType">
        <sequence>
		  <element name="Payload" type="tns:LVPayloadType"></element>
		  <element ref="tns:Environment"></element>
		  <element name="LaunchSite" type="tns:LVLaunchSiteType"></element>
		  <element name="TargetOrbit" type="tns:LVTargetOrbitType"></element>
		  <element name="Trajectory" type="tns:LVTrajectoryType"></element>
		</sequence>
	</complexType>

	<complexType name="LVSystemType">
	  <sequence>
		<element name="Architecture" type="tns:LVArchitectureType"></element>
		<element name="PlFairing" type="tns:LVPlFairingType" maxOccurs="1"></element>
		<element name="LowerStage" type="tns:LVLowerStageType" maxOccurs="3"></element>
		<element name="UpperStage" type="tns:LVUpperStageType"></element>
		<element name="Boosters" type="tns:LVBoostersType" minOccurs="0" maxOccurs="2"></element>
		<element name="SystemWeights" type="tns:LVSystemWeightsType"></element>
		<element name="SystemCosts" type="tns:LVSystemCostsType"></element>
		<element name="SystemReliability" type="tns:LVSystemReliabilityType"></element>
		<element name="Aerodynamics" type="tns:LVAerodynamicsType"></element>
		<element name="SystemConstraints" type="tns:LVSystemConstraintsType"></element>
	  </sequence>
	</complexType>

	<complexType name="LVPropulsionSystemType">
			<sequence>
				<element name="System" type="tns:LVPropulsionSystemSystemType"></element>
				<element name="LiquidTanks" type="tns:LVPropulsionSystemLiquidTanksType"></element>
				<element name="SolidGrain" type="tns:LVPropulsionSystemSolidGrainType"></element>
				<element name="FeedSystem" type="tns:LVPropulsionSystemFeedSystemType"></element>
				<element name="CombustionChamber" type="tns:LVPropulsionSystemCombustionChamberType"></element>
				<element name="Nozzle" type="tns:LVPropulsionSystemNozzleType"></element>
				<element name="Performance" type="tns:LVPropulsionSystemPerformanceType"></element>
			</sequence>
	</complexType>

	<complexType name="LVGeometryType">
		<sequence>
		  <element name="diameterEqualToUpper" type="tns:OptVarBool"></element>
		  <element name="lengthOverDiam" type="tns:OptVarDouble"></element>
		  <element name="length" type="double"></element>
		  <element name="diameter" type="double"></element>
		  <element name="volume" type="double"></element>
		  <element name="surface" type="double"></element>
		  <element name="baseLongPosition" type="double"></element>
		  <element name="noseShape" type="string"></element>
		  <element name="noseLength" type="double"></element>
		  <element name="adapterLength" type="double"></element>
		  <element name="intertankLength" type="double"></element>
		  <element name="interstageLength" type="double"></element>
		  <element name="enginesGimbalClearenceCstrViolation" type="double"></element>
		  <element name="geometryInterferenceCstrViolation" type="double"></element>
		</sequence>
	</complexType>

	<complexType name="LVAerodynamicsType">
		<sequence>
		  <element name="userDefinedAero" type="boolean"></element>
		  <element name="referenceArea" type="double"></element>
		  <element name="referenceLength" type="double"></element>
		  <element name="cl" type="tns:AeroCoefFileType"></element>
		  <element name="cd" type="tns:AeroCoefFileType"></element>
		  <element name="cm" type="tns:AeroCoefFileType"></element>
		  <element name="datcomExecutionFailureCstrViolation" type="double"></element>
		  <element name="coreGeometryRadii" type="tns:ListOfDouble"></element>
		  <element name="coreGeometryDistances" type="tns:ListOfDouble"></element>
        </sequence>
	</complexType>

	<complexType name="LVComponentWeightsType">
			<sequence>
				<element name="tanksArrangement" type="tns:OptVarInt"></element>
				<element name="tanksType" type="tns:OptVarInt"></element>
				<element name="dryMass" type="double"></element>
				<element name="dryCoGLongPosition" type="double"></element>
				<element name="oxCoGLongPosition" type="double" minOccurs="0"></element>
				<element name="fuelCoGLongPosition" type="double" minOccurs="0"></element>
				<element name="grainCoGLongPosition" type="double" minOccurs="0"></element>
				<element name="wetMass" type="double" minOccurs="0"></element>
				<element name="mainStructMass" type="double"></element>
				<element name="oxTankMass" type="double" minOccurs="0"></element>
				<element name="fuelTankMass" type="double" minOccurs="0"></element>
				<element name="thrustFrameMass" type="double" minOccurs="0"></element>
				<element name="tpsMass" type="double"></element>
				<element name="avionicsMass" type="double"></element>
				<element name="epsMass" type="double"></element>
				<element name="plAdapterMass" type="double" minOccurs="0"></element>
				<element name="padInterfaceMass" type="double" minOccurs="0"></element>
				<element name="interstageMass" type="double" minOccurs="0"></element>
			</sequence>
	</complexType>

	<complexType name="LVSystemWeightsType">
			<sequence>
				<element name="totalDryMass" type="double"></element>
				<element name="totalWetMass" type="double"></element>
				<element name="takeoffThrustOverWeight" type="double"></element>
				<element name="maxAxialAcc" type="tns:OptVarDouble"></element>
				<element name="maxHeatFlux" type="tns:OptVarDouble"></element>
				<element name="maxDynPressure" type="tns:OptVarDouble"></element>
				<element name="mainStructuralMaterial" type="tns:OptVarInt"></element>
				<element name="redundancyLevel" type="tns:OptVarInt"></element>
				<element name="structuralSafetyMargin" type="tns:OptVarDouble"></element>
			</sequence>
	</complexType>

	<complexType name="LVComponentCostsType">
			<sequence>
				<element name="nEngineTests" type="tns:OptVarInt"></element>
				<element name="DevelopmentCosts" type="tns:LVDevelopmentCostsType"></element>
				<element name="ProductionCosts" type="tns:LVProductionCostsType"></element>
			</sequence>
	</complexType>

	<complexType name="LVSystemCostsType">
			<sequence>
				<element name="TotalProgramCosts" type="tns:LVTotalProgramCostsType"></element>
				<element name="developmentTime" type="double"></element>
				<element name="DirectOperationsCosts" type="tns:LVDirectOperationsCostsType"></element>
				<element name="IndirectOperationsCosts" type="tns:LVIndirectOperationsCostsType"></element>
			</sequence>
	</complexType>

	<complexType name="LVComponentReliabilityType">
		<sequence>
		  <element name="Separation" type="tns:LVSeparationType"></element>
		  <element name="avionicsFailureRate" type="double"></element>
		  <element name="structureFailureRate" type="double"></element>
		  <element name="tpsFailureRate" type="double"></element>
		  <element name="PropulsionReliability" type="tns:LVPropulsionReliabilityType"></element>
		  <element name="overallComponentFailureRate" type="double"></element>
		</sequence>
	</complexType>

	<complexType name="LVSystemReliabilityType">
			<sequence>
				<element name="globalVehicleReliability" type="double"></element>
				<element name="selfDestructReliability" type="double"></element>
				<element name="missionSafety" type="double"></element>
				<element name="preLaunchReliability" type="double"></element>
			    <element name="TakeoffReliability" type="tns:LVTakeoffReliabilityType"></element>
				<element name="numberOfAscentPhases" type="int"></element>
				<element name="ascentPhasesDurations" type="tns:ListOfDouble"></element>
				<element name="ascentPhasesFailureRate" type="tns:ListOfDouble"></element>
			</sequence>
	</complexType>


	<complexType name="LVTrajectoryType">
			<sequence>
			    <element name="ControlProfiles" type="tns:LVControlProfilesFiles" minOccurs="0"></element>
			    <element name="TakeOff" type="tns:LVTakeOffType"></element>
			    <element name="Ignitions" type="tns:LVIgnitionsType"></element>
			    <element name="AtmosphericFlight" type="tns:LVAtmosphericFlightType"></element>
			    <element name="ExoatmosphericFlight" type="tns:LVExoatmosphericFlightType"></element>
			    <element name="TrajectoryConstraints" type="tns:LVTrajectoryConstraintsType"></element>
			    <element name="neglectIspAltitudeEffects" type="boolean" minOccurs="0"></element>
			</sequence>
	</complexType>

		  <complexType name="LVProgramCostFactorsType">
			  <sequence>
				<element name="f0" type="double"></element>
				<element name="launcherDesignComplexity" type="string"></element>
				<element name="f1" type="double"></element>
				<element name="teamExpertise" type="string"></element>
				<element name="f3" type="double"></element>
				<element name="contractorsStructure" type="string"></element>
				<element name="f7" type="double"></element>
			  </sequence>
		  </complexType>

		  <complexType name="LVPayloadType">
			  <sequence>
				<element name="scaleFactor" type="tns:OptVarDouble" minOccurs="0"></element>
				<element name="mass" type="double"></element>
				<element name="length" type="double"></element>
				<element name="diameter" type="double"></element>
				<element name="CoGLongPosition" type="double"></element>
				<element name="maxAxialAcc" type="double"></element>
				<element name="maxHeatFlux" type="double"></element>
			  </sequence>
		  </complexType>
		  
		  <complexType name="LVLaunchSiteType">
			  <sequence>
				<element ref="tns:Abstract3DOFPosition"></element>
				<element name="allowedAzimuths" type="tns:ListOfDouble"></element>
			  </sequence>
			  <attribute name="name" type="string"></attribute>
		  </complexType>
		  
		  <complexType name="LVTargetOrbitType">
			  <sequence>
				<element name="semiaxis" type="double"></element>
				<element name="eccentricity" type="double"></element>
				<element name="inclination" type="double"></element>
				<element name="semiaxisTol" type="double"></element>
				<element name="eccentricityTol" type="double"></element>
				<element name="inclinationTol" type="double"></element>
			  </sequence>
		  </complexType>
		  
		  
		<complexType name="LVArchitectureType">
			<sequence>
			  <element name="boosterConf" type="tns:OptVarInt"></element>
			  <element name="nStages" type="tns:OptVarInt"></element>
			  <element name="nBoosters" type="tns:OptVarInt"></element>
			  <element name="singleEngineType" type="tns:OptVarBool"></element>
			</sequence>
		</complexType>
		
		<complexType name="LVPlFairingType">
			<sequence>
			  <element name="Geometry" type="tns:LVGeometryType"></element>
			  <element name="ComponentWeights" type="tns:LVComponentWeightsType"></element>
			  <element name="ComponentCosts" type="tns:LVComponentCostsType"></element>
			  <element name="ComponentReliability" type="tns:LVComponentReliabilityType"></element>
			  <element name="jettisonTime" type="double"></element>
			</sequence>
		</complexType>

		<complexType name="LVLowerStageType">
			<sequence>
			  <element name="Geometry" type="tns:LVGeometryType"></element>
			  <element name="PropulsionSystem" type="tns:LVPropulsionSystemType"></element>
			  <element name="ComponentWeights" type="tns:LVComponentWeightsType"></element>
			  <element name="ComponentCosts" type="tns:LVComponentCostsType"></element>
			  <element name="ComponentReliability" type="tns:LVComponentReliabilityType"></element>
			  <element name="ignitionTime" type="double"></element>
			  <element name="jettisonTime" type="double"></element>
			</sequence>
			<attribute name="stageNumber" type="int"></attribute>
		</complexType>
		
		<complexType name="LVUpperStageType">
			<sequence>
			  <element name="Geometry" type="tns:LVGeometryType"></element>
			  <element name="PropulsionSystem" type="tns:LVPropulsionSystemType"></element>
			  <element name="ComponentWeights" type="tns:LVComponentWeightsType"></element>
			  <element name="ComponentCosts" type="tns:LVComponentCostsType"></element>
			  <element name="ComponentReliability" type="tns:LVComponentReliabilityType"></element>
			  <element name="ignitionTime" type="double"></element>
			  <element name="jettisonTime" type="double"></element>
			</sequence>
			<attribute name="stageNumber" type="int"></attribute>
		</complexType>
		
		<complexType name="LVBoostersType">
			<sequence>
			  <element name="Geometry" type="tns:LVGeometryType"></element>
			  <element name="PropulsionSystem" type="tns:LVPropulsionSystemType"></element>
			  <element name="ComponentWeights" type="tns:LVComponentWeightsType"></element>
			  <element name="ComponentCosts" type="tns:LVComponentCostsType"></element>
			  <element name="ComponentReliability" type="tns:LVComponentReliabilityType"></element>
			  <element name="ignitionTime" type="double"></element>
			  <element name="jettisonTime" type="double"></element>
			</sequence>
			<attribute name="boostersSetNumber" type="int"></attribute>
		</complexType>

		<complexType name="LVSystemConstraintsType">
				<sequence>
					<element name="thrustToWeightCstrVio" type="double"></element>				
				</sequence>
		</complexType>
		
				<complexType name="LVPropulsionSystemSystemType">
						<sequence>
							<element name="propType" type="tns:OptVarInt"></element>
							<element name="fuelType" type="string"></element>
							<element name="oxType" type="string"></element>
							<element name="numberOfEngines" type="tns:OptVarInt"></element>
							<element name="nominalThrust" type="tns:OptVarDouble"></element>
							<element name="nominalThrustPerEngine" type="double"></element>
							<element name="engineWerMass" type="double"></element>
							<element name="totalEngineDryMass" type="double"></element>
							<element name="totalPropSysDryMass" type="double"></element>
							<element name="propMass" type="tns:OptVarDouble"></element>
							<element name="totalEngineLength" type="double"></element>
							<element name="engineCoGLongPosition" type="double"></element>
							<element name="offTheShelf" type="tns:OptVarBool"></element>
							<element name="offTheShelfEngineId" type="tns:OptVarInt"></element>
							<element name="offTheShelfEngineName" type="string"></element>
							<element name="feedType" type="tns:OptVarInt"></element>
							<element name="coolingType" minOccurs="0" type="string"></element>
							<element name="mixtureRatio" type="tns:OptVarDouble"></element>
							<element name="nozzleOptAlt" type="tns:OptVarDouble"></element>
							<element name="pccOverPa" type="double"></element>
							<element name="paOptAlt" type="double"></element>
							<element name="spFillingFactorCstrViolation" type="double"></element>
							<element name="thrustRangeCstrViolation" type="double"></element>
							<element name="maxNenginesCstrViolation" type="double"></element>
							<element name="ceaExecutionFailureCstrViolation" type="double"></element>
						</sequence>
				</complexType>

				<complexType name="LVPropulsionSystemLiquidTanksType">
						<sequence>
							<element name="tanksPressureNorm" type="tns:OptVarDouble"></element>
							<element name="tanksPressure" type="double"></element>
							<element name="oxTankLength" type="double"></element>
							<element name="oxTankDiam" type="double"></element>
							<element name="oxTankPressure" type="double"></element>
							<element name="oxMass" type="double"></element>
							<element name="oxTankVolume" type="double"></element>
							<element name="fuelTankLength" type="double"></element>
							<element name="fuelTankDiam" type="double"></element>
							<element name="fuelTankPressure" type="double"></element>
							<element name="fuelMass" type="double"></element>
							<element name="fuelTankVolume" type="double"></element>
						</sequence>
				</complexType>

				<complexType name="LVPropulsionSystemSolidGrainType">
						<sequence>
							<element name="abOverAt" type="tns:OptVarDouble"></element>
							<element name="ab" type="double" minOccurs="0"></element>
							<element name="grainLength" type="double"></element>
							<element name="grainDiam" type="double"></element>
							<element name="igniterLength" type="double"></element>
							<element name="igniterDiam" type="double"></element>
							<element name="igniterMass" type="double"></element>
							<element name="sliverMass" type="double"></element>
							<element name="cavityVolume" type="double"></element>
						</sequence>
				</complexType>

				<complexType name="LVPropulsionSystemFeedSystemType">
						<sequence>
							<element name="pressurizerTankPressure" type="double"
								minOccurs="0"></element>
							<element name="pressurizerTankRadius" type="double"
								minOccurs="0"></element>
							<element name="pressurizerTankMass" type="double"
								minOccurs="0"></element>
							<element name="pressurizerGasMass" type="double"
								minOccurs="0"></element>
							<element name="linesValvesMass" type="double"></element>
							<element name="trappedPropMass" type="double"></element>
							<element name="totalFeedSystemMass" type="double"></element>
							<element name="totalFeedSystemLength" type="double"></element>
							<element name="totalFeedSystemDiameter" type="double"></element>
						</sequence>
				</complexType>

				<complexType name="LVPropulsionSystemCombustionChamberType">
						<sequence>
							<element name="accOverAt" type="tns:OptVarDouble"></element>
							<element name="acc" type="double" minOccurs="0"></element>
							<element name="chamberPressureNorm" type="tns:OptVarDouble"></element>
							<element name="chamberPressure" type="double"></element>
							<element name="chamberCharactLength" type="double"></element>
							<element name="chamberLength" type="double" minOccurs="0"></element>
							<element name="chamberDiameter" type="double" minOccurs="0"></element>
							<element name="chamberMass" type="double" minOccurs="0"></element>
						</sequence>
				</complexType>

				<complexType name="LVPropulsionSystemNozzleType">
						<sequence>
							<element name="at" type="double"></element>
							<element name="ae" type="double"></element>
							<element name="aeOverat" type="double"></element>
							<element name="throatDiameter" type="double"></element>
							<element name="nozzleDiameter" type="double"></element>
							<element name="convLength" type="double"></element>
							<element name="divLength" type="double"></element>
							<element name="nozzleLength" type="double"></element>
							<element name="nozzleMass" type="double"></element>
							<element name="nozzleType" type="tns:OptVarInt"></element>
							<element name="divAngle" type="tns:OptVarDouble"></element>
							<element name="tvcType" type="tns:OptVarInt"></element>
							<element name="tvcAngle" type="tns:OptVarDouble"></element>
							<element name="tvcMass" type="double"></element>
							<element name="nozzleCantAngle" type="double"></element>
							<element name="nozzleShape" type="string"></element>	<!-- file name for the nozzle shape design -->
						</sequence>
				</complexType>

				<complexType name="LVPropulsionSystemPerformanceType">
						<sequence>
							<element name="seaThrust" type="double"></element>
							<element name="seaThrustPerEngine" type="double"></element>
							<element name="vacuumThrust" type="double"></element>
							<element name="vacuumThrustPerEngine" type="double"></element>
							<element name="theoOptIsp" type="double"></element>
							<element name="realOptIsp" type="double"></element>
							<element name="theoSeaIsp" type="double"></element>
							<element name="realSeaIsp" type="double"></element>
							<element name="theoVacuumIsp" type="double"></element>
							<element name="realVacuumIsp" type="double"></element>
							<element name="thrustCoeff" type="double"></element>
							<element name="charactVelocity" type="double"></element>
							<element name="thrustCoeffEff" type="double"></element>
							<element name="charactVelocityEff" type="double"></element>
							<element name="totalIspEff" type="double"></element>
							<element name="nominalMassFlow" type="double"></element>
							<element name="nominalMassFlowPerEngine" type="double"></element>
							<element name="gammaExhaust" type="double"></element>
							<element name="minOperativeAlt" type="double"></element>
							<element name="throttle" type="tns:OptVarBool"></element>
							<element name="restart" type="tns:OptVarBool"></element>
						</sequence>
				</complexType>

				<complexType name="LVDevelopmentCostsType">
						<sequence>
							<element name="enginef2" type="double"></element>
							<element name="enginef5" type="double"></element>
							<element name="engineDevelopmentCost" type="double"></element>
							<element name="systemf2" type="double"></element>
							<element name="systemDevelopmentCost" type="double"></element>
						</sequence>
				</complexType>
				
				<complexType name="LVProductionCostsType">
						<sequence>
							<element name="totalNumberOfEngines" type="int"></element>
							<element name="enginesLearningFactor" type="double"></element>
							<element name="totalNumberOfSystems" type="int"></element>
							<element name="systemsLearningFactor" type="double"></element>
							<element name="totalEngineProductionCost" type="double"></element>
							<element name="totalSystemProductionCost" type="double"></element>
						</sequence>
				</complexType>


				<complexType name="LVTotalProgramCostsType">
						<sequence>
							<element name="lifeCycleCostMY" type="double"></element>
							<element name="costPerLaunchMY" type="double"></element>
							<element name="costPerKiloMY" type="double"></element>
							<element name="FYref" type="int"></element>
							<element name="MYtoFYEuros" type="double"></element>
							<element name="lifeCycleCostFYEuros" type="double"></element>
							<element name="costPerLaunchFYEuros" type="double"></element>
							<element name="costPerKiloFYEuros" type="double"></element>
						</sequence>
				</complexType>
				
				<complexType name="LVDirectOperationsCostsType">
						<sequence>
							<element name="transportCost" type="double"></element>
							<element name="processingType" type="tns:OptVarInt"></element>
							<element name="fv" type="double"></element>
							<element name="fc" type="double"></element>
							<element name="groundOperationsCost" type="double"></element>
							<element name="Qn" type="double"></element>
							<element name="flightOperationsCost" type="double"></element>
							<element name="propellantsCost" type="double"></element>
							<element name="insuranceFee" type="double"></element>
						</sequence>
				</complexType>
				
				<complexType name="LVIndirectOperationsCostsType">
						<sequence>
							<element name="groundFacilitiesBuildingCost" type="double"></element>
							<element name="launchSiteCostPerYear" type="double"></element>
							<element name="personnelCostPerYear" type="double"></element>
						</sequence>
				</complexType>


		  <complexType name="LVSeparationType">
			  <sequence>
				<element name="stageSeparationReliability" type="double"></element>
				<element name="boostersSetSeparationReliability" type="double"></element>
				<element name="fairingSeparationReliability" type="double"></element>
				<element name="payloadSeparationReliability" type="double"></element>
			  </sequence>
		  </complexType>
		  
		  <complexType name="LVPropulsionReliabilityType">
			  <sequence>
				<element name="igniterReliability" type="double"></element>
				<element name="feedFailureRate" type="double"></element>
				<element name="grainFailureRate" type="double"></element>
				<element name="chamberFailureRate" type="double"></element>
				<element name="nozzleFailureRate" type="double"></element>
				<element name="tvcFailureRate" type="double"></element>
				<element name="singleEngineOverallFailureRate" type="double"></element>
				<element name="propulsionOverallFailureRate" type="double"></element>
			  </sequence>
		  </complexType>
		  
				<complexType name="LVTakeoffReliabilityType">
						<sequence>
							<element name="launchSiteReliability" type="double"></element>
							<element name="ignitionReliability" type="double"></element>
							<element name="controlMarginReliability" type="double"></element>
							<element name="launchOverallReliability" type="double"></element>
						</sequence>
				</complexType>


				<complexType name="LVTakeOffType">
						<sequence>
							<element name="padClearingAlt" type="double"></element>
							<element name="maxPitchOverAngle" type="tns:OptVarDouble"></element>
							<element name="pitchOverDuration" type="double"></element>
							<element name="pitchOverDecayTime" type="double"></element>
							<element name="pitchOverHeadingAngle" type="tns:OptVarDouble"></element>
						</sequence>
				</complexType>
				
				<complexType name="LVIgnitionsType">
						<sequence>
							<element name="coreIgnitionDelayOption" type="tns:OptVarBool"></element>
							<element name="coreIgnitionDelayTime" type="tns:OptVarDouble"></element>
							<element name="secondBoostersSetIgnitionDelayOption" type="tns:OptVarBool"></element>
							<element name="secondBoostersSetIgnitionDelayTime" type="tns:OptVarDouble"></element>
						  	<element name="nThrustControlNodes" type="tns:ListOfInt"></element>
						  	<element name="minThrottleValues" type="tns:ListOfDouble" minOccurs="0"></element>
						</sequence>
				</complexType>
				
				<complexType name="LVAtmosphericFlightType">
						<sequence>
							<element name="optimizedPitchValues" type="tns:ListOfDouble"></element>
							<element name="optimizedYawValues" type="tns:ListOfDouble"></element>
							<element name="optimizedThrustValues" type="tns:ListOfDouble"></element>
			  				<element name="nPitchControlNodes" type="tns:ListOfInt"></element>
							<element name="nYawControlNodes" type="tns:ListOfInt"></element>
						</sequence>
				</complexType>
				
				<complexType name="LVExoatmosphericFlightType">
						<sequence>
							<element name="bilinearLawInitPitch" type="tns:OptVarDouble"></element>
							<element name="bilinearLawFinalPitch" type="tns:OptVarDouble"></element>
							<element name="bilinearLawParam" type="tns:OptVarDouble"></element>
							<element name="nYawControlNodes" type="int"></element>
							<element name="circBurnOption" type="boolean"></element>
							<element name="circBurnTime" type="tns:OptVarDouble"></element>
						</sequence>
				</complexType>
				
				<complexType name="LVTrajectoryConstraintsType">
						<sequence>
							<element name="finalSemiaxisError" type="double"></element>
							<element name="finalEccError" type="double"></element>
							<element name="finalInclError" type="double"></element>
							<element name="axialAccCstrViolation" type="double"></element>
							<element name="heatFluxCstrViolation" type="double"></element>
							<element name="dynPressCstrViolation" type="double"></element>
							<element name="controllabilityCstrViolation" type="double"></element>
							<element name="nozzleOperationsCstrViolation" type="tns:ListOfDouble"></element>
							<element name="prohibitedHeadingLowerBound" type="tns:ListOfDouble" minOccurs="0"></element>
							<element name="prohibitedHeadingUpperBound" type="tns:ListOfDouble" minOccurs="0"></element>
							<element name="headingCstrViolation" type="tns:ListOfDouble"></element>
							<element name="integrationError" type="double"></element>
						</sequence>
				</complexType>

	<complexType name="LVControlProfilesFiles">
			<sequence>
			  	<element name="pitch" type="tns:ControlFileType"></element>
			  	<element name="yaw" type="tns:ControlFileType"></element>
			  	<element name="stagesThrust" type="tns:ControlFileType"></element>
			  	<element name="boosters1Thrust" type="tns:ControlFileType"></element>
			  	<element name="boosters2Thrust" type="tns:ControlFileType"></element>
			</sequence>
	</complexType>

</schema>
