sta-data/schema/spacescenario/2.0/scenarioREV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/scenario"
	xmlns:tns="http://www.example.org/scenario" elementFormDefault="qualified">

	<element name="REV" substitutionGroup="tns:AbstractParticipant">
		<complexType>
			<complexContent>
				<extension base="tns:ParticipantsType">
					<sequence>
						<element ref="tns:ProgramAndMission"></element>
						<element ref="tns:System"></element>
						<element ref="tns:Optimization"></element>
						<element ref="tns:OutputFiles"></element>
					</sequence>
					<attribute name="appearance" type="string"></attribute>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="ProgramAndMission">
		<complexType>
			<sequence>
				<element name="Program">
					<complexType>
						<sequence>
							<element name="nMissions" type="int"></element>
							<element name="nYearsOps" type="double"></element>
						</sequence>
					</complexType>
				</element>
				<element ref="tns:Environment"></element>
				<element name="InitialConditions">
					<complexType>
						<sequence>
							<element ref="tns:TimeLine"></element>
							<element ref="tns:Abstract_6DOF_Position"></element>
							<element ref="tns:Abstract_6DOF_Attitude"></element>
						</sequence>
					</complexType>
				</element>
				<element name="Mission">
					<complexType>
						<sequence>
							<element name="targetFinalState>
								<complexType>
									<sequence>
										<element name="entryType" type="string"></element>
										<!-- Ballistic/Glide/Skip -->
										<element name="FinalState">
											<complexType>
												<sequence>
													<element ref="tns:Abstract_6DOF_Position"></element>
												</sequence>
											</complexType>
										</element>
										<element name="Constraints">
											<complexType>
												<sequence>
													<element name="maxHeatFlux" type="double"></element>
													<element name="maxHeatInput" type="double"></element>
													<element name="maxNormalLoad" type="double"></element>
													<element name="maxQalpha" type="double"></element>
													<element name="maxAlphaRate" type="double"></element>
													<element name="maxBankRate" type="double"></element>
												</sequence>
											</complexType>
										</element>
										<element name="degreesOfFreedom" type="int"></element>
										<element name="attitudeController" type="string"></element>
										<!--
											string name represents type of attitude control, default
											should be ideal
										-->
										<element name="DispersionAnalysis">
											<complexType>
												<sequence>
													<element name="nrSimulations" type="int"></element>
													<element name="dispCD" type="double"></element>
													<element name="dispCS" type="double"></element>
													<element name="dispCL" type="double"></element>
													<element name="dispCl" type="double"></element>
													<element name="dispCm" type="double"></element>
													<element name="dispCn" type="double"></element>
													<element name="dispDensity" type="double"></element>
													<element name="dispSpeedOfSound" type="double"></element>
													<element name="dispMass" type="double"></element>
													<element name="dispInitialPosition" type="double"></element>
													<element name="dispInitialAttitude" type="double"></element>
												</sequence>
											</complexType>
										</element>
									</sequence>
								</complexType>
							</element>
							<element name="entryWindowAnalysis" type="string"></element>
							<!--
								This is part of M. Volckaert's work on the ballistic entry
								module
							-->
							<element name="optimizeDeorbitBurnOption" type="boolean"></element>
							<element name="landingSeaOrGround" type="tns:OptVarBool"></element>
							<element name="landingAltitude" type="double"></element>
							<element name="maxLandingVelAtSea" type="double"></element>
							<element name="maxLandingVelAtGround" type="double"></element>
						</sequence>
					</complexType>
				</element>
				<element ref="tns:Trajectory"></element>
				<element name="Payload">
					<complexType>
						<sequence>
							<element name="mass" type="double"></element>
							<element name="length" type="double"></element>
							<element name="diameter" type="double"></element>
							<element name="COGLongPosition" type="double"></element>
							<element name="maxAxialAcc" type="double"></element>
							<element name="maxLatAcc" type="double"></element>
							<element name="crewOption" type="boolean"></element>
							<element name="nCrew" type="int" minOccurs="0"></element>
							<element name="nDaysInOrbit" type="int" minOccurs="0"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>

	<element name="System">
		<complexType>
			<sequence>
				<element ref="tns:VehicleAerodynamics"></element>
				<element ref="tns:Weights"></element>
				<element ref="tns:Geometry"></element>
				<element ref="tns:TPS"></element>
				<element name="Parachutes">
					<complexType>
						<sequence>
							<element name="nChutes" type="tns:OptVarInt">
							</element>
							<element name="Parachute" minOccurs="0" maxOccurs="4">
								<complexType>
									<sequence>
										<element name="mass" type="double"></element>
										<element name="coGLongPosition" type="double"></element>
										<element name="ropeLength" type="tns:OptVarDouble"></element>
										<element name="ParachuteAerodynamics">
											<complexType>
												<sequence>
													<element name="userDefinedAero" type="boolean"></element>
													<element name="referenceArea" type="tns:OptVarDouble"></element>
													<element name="lowSpeedCdFileName" type="string"></element>
												</sequence>
											</complexType>
										</element>
										<element name="deployMach" type="tns:OptVarDouble">
										</element>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element ref="tns:Structure"></element>
				<element ref="tns:SecondaryPropulsion"></element>
				<element ref="tns:Costs"></element>
				<element ref="tns:Reliability"></element>
				<element name="DiscretizationSettings">
					<complexType>
						<sequence>
							<element name="nMachPointsCl" type="int"></element>
							<element name="nAlfaPointsCl" type="int"></element>
							<element name="nMachPointsCd" type="int"></element>
							<element name="nAlfaPointsCd" type="int"></element>
							<element name="nMachPointsCm" type="int"></element>
							<element name="nAlfaPointsCm" type="int"></element>
							<element name="nAoAControlNodes" type="int"></element>
							<element name="nBankControlNodes" type="int"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
			<attribute name="name" type="string"></attribute>
		</complexType>
	</element>

	<element name="Geometry">
		<complexType>
			<sequence>
				<element name="noseRadius" type="double"></element>
				<element name="shapeFamily" type="tns:OptVarInt"></element>
				<element name="capsuleShape" minOccurs="0">
					<complexType>
						<sequence>
							<element name="param1" type="tns:OptVarDouble"></element>
							<element name="param2" type="tns:OptVarDouble"></element>
							<element name="param3" type="tns:OptVarDouble"></element>
						</sequence>
					</complexType>
				</element>
				<element name="probeShape" minOccurs="0">
					<complexType>
						<sequence>
							<element name="param1" type="tns:OptVarDouble"></element>
							<element name="param2" type="tns:OptVarDouble"></element>
							<element name="param3" type="tns:OptVarDouble"></element>
						</sequence>
					</complexType>
				</element>
				<element name="biconicShape" minOccurs="0">
					<complexType>
						<sequence>
							<element name="param1" type="tns:OptVarDouble"></element>
							<element name="param2" type="tns:OptVarDouble"></element>
							<element name="param3" type="tns:OptVarDouble"></element>
						</sequence>
					</complexType>
				</element>
				<element name="sphereconeShape" minOccurs="0">
					<complexType>
						<sequence>
							<element name="param1" type="tns:OptVarDouble"></element>
							<element name="param2" type="tns:OptVarDouble"></element>
							<element name="param3" type="tns:OptVarDouble"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>

	<element name="VehicleAeroThermodynamics">
		<complexType>
			<sequence>
				<element name="hypersonicTrimAngle" type="tns:OptVarDouble"></element>
				<element name="userDefinedAero" type="boolean"></element>
				<element name="referenceArea" type="double"></element>
				<element name="referenceLength" type="double"></element>
				<element name="frictionCoefficient" type="double"></element>
				<element name="emissivity" type="double"></element>
				<element name="highVForceCoeffFile" type="string" minOccurs="0"></element>
				<element name="highVMomentCoeffFile" type="string"
					minOccurs="0"></element>
				<element name="highVDerivativeCoeffFile" type="string"
					minOccurs="0"></element>
				<element name="highVControlCoeffFile" type="string"
					minOccurs="0"></element>
				<element name="lowVForceCoeffFile" type="string" minOccurs="0"></element>
				<element name="lowVMomentCoeffFile" type="string" minOccurs="0"></element>
				<element name="lowVDerivativeCoeffFile" type="string"
					minOccurs="0"></element>
				<element name="lowVControlCoeffFile" type="string"
					minOccurs="0"></element>
			</sequence>
		</complexType>
	</element>

	<element name="Structure">
		<complexType>
			<sequence>
				<element name="maxAxialAcc" type="tns:OptVarDouble"></element>
				<element name="maxLatAcc" type="tns:OptVarDouble"></element>
				<element name="mainStructMaterial" type="tns:OptVarInt"></element>
				<element name="mainStructThickness" type="double"></element>
				<element name="mainStructMass" type="double"></element>
				<element name="totalStructMass" type="double"></element>
				<element name="totalStructCoGLongPosition" type="double"></element>
				<element name="structuralSafetyMargin" type="tns:OptVarDouble"></element>
				<element name="airbags" type="tns:OptVarBool"></element>
				<element name="maxLandingVelWithAirbag" type="tns:OptVarDouble"
					minOccurs="0"></element>
				<element name="airbagsMass" type="double" minOccurs="0"></element>
				<element name="airbagsCoGLongPosition" type="double"></element>
			</sequence>
		</complexType>
	</element>

	<element name="TPS">
		<complexType>
			<sequence>
				<element name="maxHeatFlux" type="tns:OptVarDouble"></element>
				<element name="maxIntegratedHeatLoad" type="tns:OptVarDouble"></element>
				<element name="mainTPSReuse" type="tns:OptVarBool"></element>
				<element name="mainTPSMaterial" type="tns:OptVarInt"></element>
				<element name="mainTPSThickness" type="double"></element>
				<element name="mainTPSMass" type="double"></element>
				<element name="totalTPSMass" type="double"></element>
				<element name="totalTPSCoGLongPosition" type="double"></element>
			</sequence>
		</complexType>
	</element>

	<element name="SecondaryPropulsion">
		<complexType>
			<sequence>
				<element name="OMS" minOccurs="0">
					<complexType>
						<sequence>
							<element name="thrust" type="tns:OptVarDouble"></element>
							<element name="burningTime" type="tns:OptVarDouble"></element>
							<element name="Isp" type="double"></element>
							<element name="dryMass" type="double"></element>
							<element name="dryCoGLongPosition" type="double"></element>
							<element name="propMass" type="double"></element>
							<element name="length" type="double"></element>
							<element name="diameter" type="double"></element>
						</sequence>
					</complexType>
				</element>
				<element name="RCS">
					<complexType>
						<sequence>
							<element name="thrust" type="tns:OptVarDouble"></element>
							<element name="totalMass" type="double"></element>
							<element name="totalCoGLongPosition" type="double"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>

	<element name="Components">
		<complexType>
			<sequence>
				<element name="Mass">
					<complexType>
						<sequence>
							<element name="avionics" type="double" minOccurs="0"></element>
							<element name="eps" type="double" minOccurs="0"></element>
							<element name="crewSystems" type="double" minOccurs="0"></element>
						</sequence>
					</complexType>
				</element>
				<element name="CoGLongPosition">
					<complexType>
						<sequence>
							<element name="avionics" type="double" minOccurs="0"></element>
							<element name="eps" type="double" minOccurs="0"></element>
							<element name="crewSystems" type="double" minOccurs="0"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>

	<element name="Weights">
		<complexType>
			<sequence>
				<element name="totalDryMass" type="double"></element>
				<element name="totalPropellantMass" type="double"></element>
				<element name="totalWetMass" type="double"></element>
				<element name="totalDryCoGLongPosition" type="double"></element>
				<element name="totalWetCoGLongPosition" type="double"></element>
				<element name="InertialMatrix">
					<complexType>
						<sequence>
							<element name="ixx" type="double"></element>
							<element name="iyy" type="double"></element>
							<element name="izz" type="double"></element>
							<element name="ixy" type="double"></element>
							<element name="ixz" type="double"></element>
							<element name="iyz" type="double"></element>
						</sequence>
					</complexType>
				</element>
				<element name="trimStability" type="double"></element>
				<element name="internalVolumeAvailable" type="double"></element>
				<element name="internalVolumeRequired" type="double"></element>
				<element name="internalVolumeCstrViolation" type="double"></element>
				<element name="CoGShiftCstrViolation" type="double"></element>
				<element name="redundancyLevel" type="tns:OptVarInt"></element>
				<element ref="tns:Components"></element>
			</sequence>
		</complexType>
	</element>

	<element name="Costs">
		<complexType>
			<sequence>
				<element name="lifeCycleCost" type="double"></element>
				<element name="costPerMission" type="double"></element>
				<element name="costPerKilo" type="double"></element>
				<element name="SystemCosts">
					<complexType>
						<sequence>
							<element name="systemDevelopmentCost" type="double"></element>
							<element name="systemProductionCost" type="double"></element>
							<element name="flightOperationsCost" type="double"></element>
							<element name="recoveryCost" type="double" minOccurs="0"></element>
							<element name="groundFacilitiesCost" type="double"></element>
							<element name="fixedGroundCost" type="double"></element>
						</sequence>
					</complexType>
				</element>
				<element name="SubsystemsDevelopCosts">
					<complexType>
						<sequence>
							<element name="structure" type="double"></element>
							<element name="TPS" type="double"></element>
							<element name="avionics" type="double"></element>
							<element name="OMS" type="double"></element>
							<element name="RCS" type="double"></element>
							<element name="parachutes" type="double"></element>
							<element name="airbags" type="double"></element>
							<element name="crewSystems" type="double" minOccurs="0"></element>
						</sequence>
					</complexType>
				</element>
				<element name="SubsystemsProductionCosts">
					<complexType>
						<sequence>
							<element name="structure" type="double"></element>
							<element name="TPS" type="double"></element>
							<element name="avionics" type="double"></element>
							<element name="OMS" type="double"></element>
							<element name="RCS" type="double"></element>
							<element name="parachutes" type="double"></element>
							<element name="airbags" type="double"></element>
							<element name="crewSystems" type="double" minOccurs="0"></element>
							<element name="propellants" type="double"></element>
						</sequence>
					</complexType>
				</element>
				<element name="SubsystemsRefurbishmentCosts" minOccurs="0">
					<complexType>
						<sequence>
							<element name="structure" type="double"></element>
							<element name="TPS" type="double"></element>
							<element name="avionics" type="double"></element>
							<element name="OMS" type="double"></element>
							<element name="RCS" type="double"></element>
							<element name="parachutes" type="double"></element>
							<element name="airbags" type="double"></element>
							<element name="crewSystems" type="double" minOccurs="0"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>

	<element name="Reliability">
		<complexType>
			<sequence>
				<element name="globalVehicleReliability" type="double"></element>
				<element name="softwareReliability" type="double"></element>
				<element name="crewSafety" type="double"></element>
				<element name="SubsystemsReliability">
					<complexType>
						<sequence>
							<element name="structure" type="double"></element>
							<element name="TPS" type="double"></element>
							<element name="avionics" type="double"></element>
							<element name="OMS" type="double"></element>
							<element name="RCS" type="double"></element>
							<element name="parachutes" type="double"></element>
							<element name="airbags" type="double"></element>
							<element name="crewSystems" type="double" minOccurs="0"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>

	<element name="Trajectory">
		<complexType>
			<sequence>
				<element name="totalCrossRange" type="double"></element>
				<element name="totalDownRange" type="double"></element>
				<element name="HighSpeedFlight">
					<complexType>
						<sequence>
							<element name="optimizedAoAValues" type="tns:ListOfDouble"></element>
							<element name="optimizedBankValues" type="tns:ListOfDouble"></element>
							<element name="highSpeedCrossRange" type="double"></element>
							<element name="highSpeedDownRange" type="double"></element>
						</sequence>
					</complexType>
				</element>
				<element name="LowSpeedFlight">
					<complexType>
						<sequence>
							<element name="lowSpeedCrossRange" type="double"></element>
							<element name="lowSpeedDownRange" type="double"></element>
						</sequence>
					</complexType>
				</element>
				<element name="Constraints">
					<complexType>
						<sequence>
							<element name="landingVelCstrViolation" type="double"></element>
							<element name="axialAccCstrViolation" type="double"></element>
							<element name="latAccCstrViolation" type="double"></element>
							<element name="heatFluxCstrViolation" type="double"></element>
							<element name="integratedheatLoadCstrViolation" type="double"></element>
							<element name="dynPressCstrViolation" type="double"></element>
							<element name="controllabilityCstrViolation" type="double"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>

</schema>
