sta-data/schema/spacescenario/2.0/scenarioLV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/scenario"
	xmlns:tns="http://www.example.org/scenario" elementFormDefault="qualified">

	<element name="LV" substitutionGroup="tns:AbstractParticipant">
		<complexType>
			<complexContent>
				<extension base="tns:ParticipantType">
					<sequence>
						<element ref="tns:LVProgram"></element>
						<element ref="tns:LVMission"></element>
						<element name="System" type="tns:LVSystemType"></element>
						<element ref="tns:Optimization"></element>
						<element ref="tns:OutputFiles"></element>
					    <element name="Appearance" type="string"></element>
                    </sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="PropulsionSystem">
		<complexType>
			<sequence>
				<element name="System">
					<complexType>
						<sequence>
							<element name="propType" type="tns:OptVarString"></element>
							<element name="fuelType" type="string"></element>
							<element name="oxType" type="string"></element>
							<element name="numberOfEngines" type="tns:OptVarInt"></element>
							<element name="nominalThrust" type="tns:OptVarDouble"></element>
							<element name="totalEngineDryMass" type="double"></element>
							<element name="propMass" type="tns:OptVarDouble"></element>
							<element name="engineCoGLongPosition" type="double"></element>
							<element name="lengthOverDiam" type="tns:OptVarDouble"></element>
							<element name="offTheShelf" type="tns:OptVarBool"></element>
							<element name="offTheShelfEngineType" type="tns:OptVarString"
								minOccurs="0"></element>
							<element name="feedType" minOccurs="0" type="tns:OptVarString"></element>
							<element name="coolingType" minOccurs="0" type="string"></element>
							<element name="mixtureRatio" type="tns:OptVarDouble"
								minOccurs="0"></element>
							<element name="nozzleOptAlt" type="tns:OptVarDouble"></element>
						</sequence>
					</complexType>
				</element>
				<element name="LiquidTanks" minOccurs="0">
					<complexType>
						<sequence>
							<element name="tanksPressureNorm" type="tns:OptVarDouble"></element>
							<element name="oxTankLength" type="double"></element>
							<element name="oxTankDiam" type="double"></element>
							<element name="oxTankPressure" type="double"></element>
							<element name="fuelTankLength" type="double"></element>
							<element name="fuelTankDiam" type="double"></element>
							<element name="fuelTankPressure" type="double"></element>
						</sequence>
					</complexType>
				</element>
				<element name="SolidGrain" minOccurs="0">
					<complexType>
						<sequence>
							<element name="grainLength" type="double"></element>
							<element name="grainDiam" type="double"></element>
							<element name="igniterLength" type="double"></element>
							<element name="igniterDiam" type="double"></element>
							<element name="igniterMass" type="double"></element>
							<element name="sliverMass" type="double"></element>
							<element name="cavityVolume" type="double"></element>
						</sequence>
					</complexType>
				</element>
				<element name="FeedSystem" minOccurs="0">
					<complexType>
						<sequence>
							<element name="pressurizerTankPressure" type="double"
								minOccurs="0"></element>
							<element name="pressurizerTankRadius" type="double"
								minOccurs="0"></element>
							<element name="pressurizerTankMass" type="double"
								minOccurs="0"></element>
							<element name="pressurizerGasMass" type="double"
								minOccurs="0"></element>
							<element name="linesValvesMass" type="double"></element>
							<element name="trappedPropMass" type="double"></element>
							<element name="totalFeedSystemMass" type="double"></element>
							<element name="totalFeedSystemLength" type="double"></element>
							<element name="totalFeedSystemDiameter" type="double"></element>
						</sequence>
					</complexType>
				</element>
				<element name="CombustionChamber">
					<complexType>
						<sequence>
							<element name="abOverAt" type="tns:OptVarDouble"
								minOccurs="0"></element>
							<element name="accOverAt" type="tns:OptVarDouble"
								minOccurs="0"></element>
							<element name="ab" type="double" minOccurs="0"></element>
							<element name="acc" type="double" minOccurs="0"></element>
							<element name="chamberPressureNorm" type="tns:OptVarDouble"></element>
							<element name="chamberPressure" type="double"></element>
							<element name="chamberCharactLength" type="double"></element>
							<element name="chamberLength" type="double" minOccurs="0"></element>
							<element name="chamberDiameter" type="double" minOccurs="0"></element>
							<element name="chamberMass" type="double" minOccurs="0"></element>
						</sequence>
					</complexType>
				</element>
				<element name="Nozzle">
					<complexType>
						<sequence>
							<element name="at" type="double"></element>
							<element name="ae" type="double"></element>
							<element name="aeOverat" type="double"></element>
							<element name="nozzleLength" type="double"></element>
							<element name="nozzleDiameter" type="double"></element>
							<element name="nozzleMass" type="double"></element>
							<element name="nozzleType" type="tns:OptVarString"></element>
							<element name="divAngle" type="tns:OptVarDouble"></element>
							<element name="tvcType" type="tns:OptVarString"></element>
							<element name="tvcAngle" type="tns:OptVarDouble"></element>
							<element name="tvcMass" type="double"></element>
							<element name="nozzleCantAngle" type="double"></element>
							<element name="nozzleShape" type="string"></element>	<!-- file name for the nozzle shape design -->
						</sequence>
					</complexType>
				</element>
				<element name="Performance">
					<complexType>
						<sequence>
							<element name="theoOptIsp" type="double"></element>
							<element name="realOptIsp" type="double"></element>
							<element name="realSeeIsp" type="double"></element>
							<element name="realVacuumIsp" type="double"></element>
							<element name="thrustCoeff" type="double"></element>
							<element name="charactVelocity" type="double"></element>
							<element name="thrustCoeffEff" type="double"></element>
							<element name="charactVelocityEff" type="double"></element>
							<element name="nominalMassFlow" type="double"></element>
							<element name="minOperativeAlt" type="double"></element>
							<element name="throttle" type="tns:OptVarBool" minOccurs="0"></element>
							<element name="restart" type="tns:OptVarBool" minOccurs="0"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>

    <element name="LVProgram">
	  <complexType>
		<sequence>
		  <element name="nLaunches" type="int"></element>
		  <element name="nYearsOps" type="double"></element>
		  <element name="nLaunchesPerYear" type="int"></element>
		  <element name="programCostFactors">
			<complexType>
			  <sequence>
				<element name="f0" type="double"></element>
				<element name="launcherDesignComplexity" type="string"></element>
				<element name="f1" type="double"></element>
				<element name="teamExpertise" type="string"></element>
				<element name="f3" type="double"></element>
				<element name="contractorsStructure" type="string"></element>
				<element name="f7" type="double"></element>
			  </sequence>
			</complexType>
		  </element>
		</sequence>
	  </complexType>
	</element>

    <element name="LVMission">
      <complexType>
        <sequence>
		  <element name="LVPayload">
			<complexType>
			  <sequence>
				<element name="mass" type="double"></element>
				<element name="length" type="double"></element>
				<element name="diameter" type="double"></element>
				<element name="CoGLongPosition" type="double"></element>
				<element name="maxAxialAcc" type="double"></element>
				<element name="maxHeatFlux" type="double"></element>
			  </sequence>
			</complexType>
		  </element>
		  <element ref="tns:Environment"></element>
		  <element name="LaunchSite">
			<complexType>
			  <sequence>
				<element ref="tns:Abstract3DOFPosition"></element>
				<element name="allowedAzimuths" type="tns:ListOfDouble"></element>
			  </sequence>
			  <attribute name="name" type="string"></attribute>
			</complexType>
		  </element>
		  <element name="TargetOrbit">
			<complexType>
			  <sequence>
				<element name="semiaxis" type="double"></element>
				<element name="eccentricity" type="double"></element>
				<element name="inclination" type="double"></element>
				<element name="semiaxisTol" type="double"></element>
				<element name="eccentricityTol" type="double"></element>
				<element name="inclinationTol" type="double"></element>
			  </sequence>
			</complexType>
		  </element>
		  <element ref="tns:Trajectory"></element>
		</sequence>
	  </complexType>
	</element>

	<complexType name="LVSystemType">
	  <sequence>
		<element name="Architecture">
		  <complexType>
			<sequence>
			  <element name="boosterConf" type="tns:OptVarString"></element>
			  <element name="nStages" type="tns:OptVarInt"></element>
			  <element name="nBoosters" type="tns:OptVarInt"></element>
			  <element name="singleEngineType" type="tns:OptVarBool"></element>
			</sequence>
		  </complexType>
		</element>
		<element name="LowerStage" maxOccurs="3">
		  <complexType>
			<sequence>
			  <element ref="tns:Geometry"></element>
			  <element ref="tns:PropulsionSystem"></element>
			  <element ref="tns:ComponentWeights"></element>
			  <element ref="tns:ComponentCosts"></element>
			  <element ref="tns:ComponentReliability"></element>
			</sequence>
			<attribute name="stageNumber" type="int"></attribute>
		  </complexType>
		</element>
		<element name="UpperStage">
		  <complexType>
			<sequence>
			  <element ref="tns:Geometry"></element>
			  <element ref="tns:PropulsionSystem"></element>
			  <element ref="tns:ComponentWeights"></element>
			  <element ref="tns:ComponentCosts"></element>
			  <element ref="tns:ComponentReliability"></element>
			</sequence>
			<attribute name="stageNumber" type="int"></attribute>
		  </complexType>
		</element>
		<element name="Boosters" minOccurs="0" maxOccurs="2">
		  <complexType>
			<sequence>
			  <element ref="tns:Geometry"></element>
			  <element ref="tns:PropulsionSystem"></element>
			  <element ref="tns:ComponentWeights"></element>
			  <element ref="tns:ComponentCosts"></element>
			  <element ref="tns:ComponentReliability"></element>
			</sequence>
			<attribute name="boostersSetNumber" type="int"></attribute>
		  </complexType>
		</element>
		<element ref="tns:SystemWeights"></element>
		<element ref="tns:SystemCosts"></element>
		<element ref="tns:SystemReliability"></element>
		<element ref="tns:LVAerodynamics"></element>
		<element name="DiscretizationSettings">
		  <complexType>
			<sequence>
			  <element name="nMachPointsCl" type="int"></element>
			  <element name="nAlfaPointsCl" type="int"></element>
			  <element name="nMachPointsCd" type="int"></element>
			  <element name="nAlfaPointsCd" type="int"></element>
			  <element name="nMachPointsCm" type="int"></element>
			  <element name="nAlfaPointsCm" type="int"></element>
			  <element name="nPitchControlNodes" type="int"></element>
			  <element name="nYawControlNodes" type="int"></element>
			  <element name="nThrustControlNodes" type="int"></element>
			</sequence>
		  </complexType>
		</element>
	  </sequence>
	</complexType>

	<element name="Geometry">
	  <complexType>
		<sequence>
		  <element name="length" type="double"></element>
		  <element name="diameter" type="double"></element>
		  <element name="diameterEqualToUpper" type="tns:OptVarBool"></element>
		  <element name="frontShape" type="string"></element>
		  <element name="baseLongPosition" type="double"></element>
		  <element name="constraintEngine" type="double"></element>
		  <element name="constraintInterference" type="double"></element>
		</sequence>
	  </complexType>
	</element>

	<element name="LVAerodynamics">
	  <complexType>
		<sequence>
		  <element name="userDefinedAero" type="boolean"></element>
		  <element name="referenceArea" type="double"></element>
		  <element name="referenceLength" type="double"></element>
		  <element name="clFileName" type="string"></element>
		  <element name="cdFileName" type="string"></element>
		  <element name="cmFileName" type="string"></element>
        </sequence>
	  </complexType>
	</element>

	<element name="ComponentWeights">
		<complexType>
			<sequence>
				<element name="dryMass" type="double"></element>
				<element name="dryCoGLongPosition" type="double"></element>
				<element name="wetMass" type="double" minOccurs="0"></element>
				<element name="mainStructMass" type="double"></element>
				<element name="oxTankMass" type="double" minOccurs="0"></element>
				<element name="fuelTankMass" type="double" minOccurs="0"></element>
				<element name="tpsMass" type="double"></element>
				<element name="avionicsMass" type="double"></element>
				<element name="epsMass" type="double"></element>
				<element name="plAdapterMass" type="double" minOccurs="0"></element>
				<element name="padInterfaceMass" type="double" minOccurs="0"></element>
				<element name="interstageMass" type="double" minOccurs="0"></element>
			</sequence>
		</complexType>
	</element>

	<element name="SystemWeights">
		<complexType>
			<sequence>
				<element name="totalDryMass" type="double"></element>
				<element name="totalWetMass" type="double"></element>
				<element name="takeoffThrustOverWeight" type="double"></element>
				<element name="maxAxialAcc" type="tns:OptVarDouble"></element>
				<element name="maxHeatFlux" type="tns:OptVarDouble"></element>
				<element name="maxDynPressure" type="tns:OptVarDouble"></element>
				<element name="mainStructuralMaterial" type="tns:OptVarString"></element>
				<element name="tanksArrangement" type="tns:OptVarString"></element>
				<element name="tanksType" type="tns:OptVarString"></element>
				<element name="redundancyLevel" type="tns:OptVarString"></element>
				<element name="structuralSafetyMargin" type="tns:OptVarDouble"></element>
			</sequence>
		</complexType>
	</element>

	<element name="ComponentCosts">
		<complexType>
			<sequence>
				<element name="nEngineTests" type="tns:OptVarInt"></element>
				<element name="DevelopmentCosts">
					<complexType>
						<sequence>
							<element name="enginef2" type="double"></element>
							<element name="enginef5" type="double"></element>
							<element name="engineDevelopmentCost" type="double"></element>
							<element name="systemf2" type="double"></element>
							<element name="systemDevelopmentCost" type="double"></element>
						</sequence>
					</complexType>
				</element>
				<element name="ProductionCosts">
					<complexType>
						<sequence>
							<element name="totalNumberOfEngines" type="int"></element>
							<element name="enginesLearningFactor" type="double"></element>
							<element name="totalNumberOfSystems" type="int"></element>
							<element name="systemsLearningFactor" type="double"></element>
							<element name="totalEngineProductionCost" type="double"></element>
							<element name="totalSystemProductionCost" type="double"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>

	<element name="SystemCosts">
		<complexType>
			<sequence>
				<element name="TotalProgramCosts">
					<complexType>
						<sequence>
							<element name="lifeCycleCostMY" type="double"></element>
							<element name="costPerLaunchMY" type="double"></element>
							<element name="costPerKiloMY" type="double"></element>
							<element name="FYref" type="int"></element>
							<element name="MYtoFYEuros" type="double"></element>
							<element name="lifeCycleCostFYEuros" type="double"></element>
							<element name="costPerLaunchFYEuros" type="double"></element>
							<element name="costPerKiloFYEuros" type="double"></element>
						</sequence>
					</complexType>
				</element>
				<element name="developmentTime" type="double"></element>
				<element name="DirectOperationsCosts">
					<complexType>
						<sequence>
							<element name="transportCost" type="double"></element>
							<element name="processingType" type="tns:OptVarString"></element>
							<element name="fv" type="double"></element>
							<element name="fc" type="double"></element>
							<element name="groundOperationsCost" type="double"></element>
							<element name="Qn" type="double"></element>
							<element name="flightOperationsCost" type="double"></element>
							<element name="propellantsCost" type="double"></element>
							<element name="insuranceFee" type="double"></element>
						</sequence>
					</complexType>
				</element>
				<element name="IndirectOperationsCosts">
					<complexType>
						<sequence>
							<element name="groundFacilitiesBuildingCost" type="double"></element>
							<element name="launchSiteCostPerYear" type="double"></element>
							<element name="personnelCostPerYear" type="double"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>

	<element name="ComponentReliability">
	  <complexType>
		<sequence>
		  <element name="Separation">
			<complexType>
			  <sequence>
				<element name="stageSeparationReliability" type="double"></element>
				<element name="boostersSetSeparationReliability" type="double"></element>
				<element name="fairingSeparationReliability" type="double"></element>
				<element name="payloadSeparationReliability" type="double"></element>
			  </sequence>
			</complexType>
		  </element>
		  <element name="avionicsFailureRate" type="double"></element>
		  <element name="structureFailureRate" type="double"></element>
		  <element name="tpsFailureRate" type="double"></element>
		  <element name="PropulsionReliability">
			<complexType>
			  <sequence>
				<element name="igniterReliability" type="double"></element>
				<element name="feedFailureRate" type="double"></element>
				<element name="grainFailureRate" type="double"></element>
				<element name="chamberFailureRate" type="double"></element>
				<element name="nozzleFailureRate" type="double"></element>
				<element name="tvcFailureRate" type="double"></element>
				<element name="singleEngineOverallFailureRate" type="double"></element>
				<element name="propulsionOverallFailureRate" type="double"></element>
			  </sequence>
			</complexType>
		  </element>
		  <element name="overallComponentFailureRate" type="double"></element>
		</sequence>
	  </complexType>
	</element>

	<element name="SystemReliability">
		<complexType>
			<sequence>
				<element name="globalVehicleReliability" type="double"></element>
				<element name="selfDestructReliability" type="double"></element>
				<element name="missionSafety" type="double"></element>
				<element name="preLaunchReliability" type="double"></element>
				<element name="Launch">
					<complexType>
						<sequence>
							<element name="launchSiteReliability" type="double"></element>
							<element name="ignitionReliability" type="double"></element>
							<element name="controlMarginReliability" type="double"></element>
							<element name="launchOverallReliability" type="double"></element>
						</sequence>
					</complexType>
				</element>
				<element name="numberOfAscentPhases" type="int"></element>
				<element name="ascentPhasesDurations" type="tns:ListOfDouble"></element>
				<element name="ascentPhasesFailureRate" type="tns:ListOfDouble"></element>
			</sequence>
		</complexType>
	</element>


	<element name="Trajectory">
		<complexType>
			<sequence>
				<element name="TakeOff">
					<complexType>
						<sequence>
							<element name="padClearingAlt" type="double"></element>
							<element name="maxPitchOverAngle" type="double"></element>
							<element name="pitchOverDuration" type="double"></element>
							<element name="pitchOverDecayTime" type="double"></element>
							<element name="pitchOverHeadingAngle" type="double"></element>
						</sequence>
					</complexType>
				</element>
				<element name="Ignitions">
					<complexType>
						<sequence>
							<element name="coreIgnitionDelayOption" type="boolean"
								minOccurs="0"></element>
							<element name="coreIgnitionDelayTime" type="double"
								minOccurs="0"></element>
							<element name="secondBoostersSetIgnitionDelayOption"
								type="boolean" minOccurs="0"></element>
							<element name="secondBoostersSetIgnitionDelayTime" type="double"
								minOccurs="0"></element>
						</sequence>
					</complexType>
				</element>
				<element name="AtmosphericFlight">
					<complexType>
						<sequence>
							<element name="optimizedPitchValues" type="tns:ListOfDouble"></element>
							<element name="optimizedYawValues" type="tns:ListOfDouble"></element>
							<element name="optimizedThrustValues" type="tns:ListOfDouble"
								minOccurs="0"></element>
						</sequence>
					</complexType>
				</element>
				<element name="ExoatmosphericFlight">
					<complexType>
						<sequence>
							<element name="bilinearLawInitPitch" type="double"></element>
							<element name="bilinearLawFinalPitch" type="double"></element>
							<element name="bilinearLawParam" type="double"></element>
							<element name="circBurnOption" type="boolean"></element>
							<element name="circBurnTime" type="double" minOccurs="0"></element>
						</sequence>
					</complexType>
				</element>
				<element name="Constraints">
					<complexType>
						<sequence>
							<element name="finalSemiaxisError" type="double"></element>
							<element name="finalEccError" type="double"></element>
							<element name="finalInclError" type="double"></element>
							<element name="axialAccCstrViolation" type="double"></element>
							<element name="heatFluxCstrViolation" type="double"></element>
							<element name="dynPressCstrViolation" type="double"></element>
							<element name="controllabilityCstrViolation" type="double"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>


</schema>
