sta-data/schema/spacescenario/2.0/sharedElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/scenario"
	xmlns:tns="http://www.example.org/scenario" elementFormDefault="qualified">

	<element name="PropagationPosition" type="tns:PropagationPositionType" />
	<complexType name="PropagationPositionType">
		<sequence>
			<element name="propagator" type="string"></element>
			<element name="integrator" type="string"></element>
			<element name="timeStep" type="double"></element>
		</sequence>
	</complexType>

	<element name="PropagationAttitude" type="tns:PropagationAttitudeType" />
	<complexType name="PropagationAttitudeType">
		<sequence>
			<element name="integrator" type="string"></element>
			<element name="timeStep" type="double"></element>
		</sequence>
	</complexType>

	<element name="AbstractTrajectory" abstract="true"
		type="tns:AbstractTrajectoryType"></element>


	<element name="AbstractPayload" abstract="true"
		type="tns:AbstractPayloadType"></element>


	<complexType name="AbstractTrajectoryType">
		<sequence />
	</complexType>

	<complexType name="AbstractPayloadType">
		<sequence />
	</complexType>

	<element name="PayloadSet">
		<complexType>
			<sequence>
				<element ref="tns:AbstractPayload" maxOccurs="unbounded"></element>
			</sequence>
		</complexType>
	</element>



	<element name="InitialPosition" type="tns:InitialPositionType" />
	<complexType name="InitialPositionType">
		<sequence>
			<element name="CoordinateSystem" type="string"></element>
			<element ref="tns:Abstract6DOFPosition"></element>
		</sequence>
	</complexType>

	<element name="InitialAttitude" type="tns:InitialAttitudeType" />
	<complexType name="InitialAttitudeType">
		<sequence>
			<element name="CoordinateSystem" type="string"></element>
			<element ref="tns:Abstract6DOFAttitude"></element>
		</sequence>
	</complexType>



	<element name="AbstractParticipant" abstract="true"
		type="tns:ParticipantType"></element>

	<complexType name="ParticipantType" abstract="true">
		<sequence>
			<element name="Name" type="string"></element>
		</sequence>
	</complexType>


	<!-- NEW DEFINED VECTORS -->

	<simpleType name="ListOfInt">
		<list itemType="int"></list>
	</simpleType>
	<simpleType name="ListOfDouble">
		<list itemType="double"></list>
	</simpleType>
	<simpleType name="ListOfString">
		<list itemType="string"></list>
	</simpleType>


	<!-- OPTIMIZATION VARIABLES -->
	<complexType name="OptVarDouble">
		<sequence>
			<element name="min" type="double" minOccurs="0"></element>
			<element name="value" type="double"></element>
			<element name="max" type="double" minOccurs="0"></element>
		</sequence>
		<attribute name="fromFirstGuess" type="boolean"></attribute>
		<!--
			0 if the user defines the box constraints for the variable, 1 if the
			first guess module defines the box constraints for the variable
		-->
	</complexType>

	<complexType name="OptVarInt">
		<sequence>
			<element name="list" type="tns:ListOfInt" minOccurs="0"></element>
			<element name="value" type="int"></element>
		</sequence>
	</complexType>

	<complexType name="OptVarBool">
		<sequence>
			<element name="value" type="boolean"></element>
		</sequence>
		<attribute name="optimized" type="boolean"></attribute>
		<!-- 0 not optimization variable, 1 optimization variable -->
	</complexType>

	<complexType name="OptVarString">
		<sequence>
			<element name="list" type="tns:ListOfString" minOccurs="0"></element>
			<element name="value" type="string"></element>
		</sequence>
	</complexType>

	<!-- COMMON ELEMENTS -->

	<element name="TimeLine">
		<complexType>
			<sequence>
				<element name="StartTime" type="dateTime" />
				<element name="StepTime" type="double"></element>
				<element name="EndTime" type="dateTime" minOccurs="0"></element>
			</sequence>
		</complexType>
	</element>



	<element name="Propagation">
		<complexType>
			<sequence>
				<element name="propagator" type="string"></element>
			</sequence>
		</complexType>
	</element>


	<element name="Environment" type="tns:EnvironmentType"></element>

	<complexType name="EnvironmentType">
		<sequence>
			<element name="CentralBody" type="tns:CentralBodyType"></element>
		</sequence>
	</complexType>

	<complexType name="CentralBodyType">
		<sequence>
			<element name="Name" type="string"></element>
			<element name="GravityModel">
				<complexType>
					<sequence>
						<element name="modelName" type="string"></element>
						<element name="numberOfZonals" type="int"></element>
						<element name="numberOfTesserals" type="int"></element>
					</sequence>
				</complexType>
			</element>
			<element name="atmosphere" type="string" minOccurs="0"></element> <!-- file name OR "exponential" -->
			<element name="ellipticity" type="boolean" minOccurs="0"></element>
		</sequence>
	</complexType>



	<!-- INITIAL STATE TYPES -->

	<complexType name="Abstract3DOFPositionType">
		<sequence>
		</sequence>
	</complexType>
	<element name="Abstract3DOFPosition" type="tns:Abstract3DOFPositionType"
		abstract="true"></element>

	<complexType name="Abstract6DOFPositionType">
		<sequence>
		</sequence>
	</complexType>
	<element name="Abstract6DOFPosition" type="tns:Abstract6DOFPositionType"
		abstract="true"></element>

	<element name="GroundPosition" type="tns:GroundPositionType"
		substitutionGroup="tns:Abstract3DOFPosition"></element>
	<complexType name="GroundPositionType">
		<complexContent>
			<extension base="tns:Abstract3DOFPositionType">
				<sequence>
					<element name="latitude" type="double"></element>
					<element name="longitude" type="double"></element>
					<element name="altitude" type="double"></element>
				</sequence>
				<attribute name="siteName" type="string"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<element name="StateVector" substitutionGroup="tns:Abstract6DOFPosition"
		type="tns:StateVectorType"></element>
	<complexType name="StateVectorType">
		<complexContent>
			<extension base="tns:Abstract6DOFPositionType">
				<sequence>
					<element name="x" type="double"></element>
					<element name="y" type="double"></element>
					<element name="z" type="double"></element>
					<element name="vx" type="double"></element>
					<element name="vy" type="double"></element>
					<element name="vz" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="KeplerianElements" substitutionGroup="tns:Abstract6DOFPosition"
		type="tns:KeplerianElementsType"></element>
	<complexType name="KeplerianElementsType">
		<complexContent>
			<extension base="tns:Abstract6DOFPositionType">
				<sequence>
					<element name="semiMajorAxis" type="double"></element>
					<element name="eccentricity" type="double" />
					<element name="inclination" type="double" />
					<element name="RAAN" type="double" />
					<element name="argumentOfPeriapsis" type="double" />
					<element name="trueAnomaly" type="double" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="SphericalCoordinates" substitutionGroup="tns:Abstract6DOFPosition"
		type="tns:SphericalCoordinatesType"></element>
	<complexType name="SphericalCoordinatesType">
		<complexContent>
			<extension base="tns:Abstract6DOFPositionType">
				<sequence>
					<element name="radialDistance" type="double"></element>
					<element name="longitude" type="double"></element>
					<element name="latitude" type="double"></element>
					<element name="flightPathVelocity" type="double"></element>
					<element name="flightPathAngle" type="double"></element>
					<element name="headingAngle" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<!-- INITIAL ATTITUDE TYPE -->
	<element name="Abstract6DOFAttitude" abstract="true"
		type="tns:Abstract6DOFAttitudeType"></element>
	<complexType name="Abstract6DOFAttitudeType">
		<sequence></sequence>
	</complexType>

	<element name="EulerBLVLH" substitutionGroup="tns:Abstract6DOFAttitude"
		type="tns:EulerBLVLHType"></element>
	<complexType name="EulerBLVLHType">
		<complexContent>
			<extension base="tns:Abstract6DOFAttitudeType">
				<sequence>
					<element name="phi" type="double"></element>
					<element name="theta" type="double"></element>
					<element name="psi" type="double"></element>
					<element name="phiDot" type="double"></element>
					<element name="thetaDot" type="double"></element>
					<element name="psiDot" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="EulerBI" substitutionGroup="tns:Abstract6DOFAttitude"
		type="tns:EulerBIType"></element>
	<complexType name="EulerBIType">
		<complexContent>
			<extension base="tns:Abstract6DOFAttitudeType">
				<sequence>
					<element name="phi" type="double"></element>
					<element name="theta" type="double"></element>
					<element name="psi" type="double"></element>
					<element name="phiDot" type="double"></element>
					<element name="thetaDot" type="double"></element>
					<element name="psiDot" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="qBLVLH" substitutionGroup="tns:Abstract6DOFAttitude"
		type="tns:qBLVLHType"></element>
	<complexType name="qBLVLHType">
		<complexContent>
			<extension base="tns:Abstract6DOFAttitudeType">
				<sequence>
					<element name="q1" type="double"></element>
					<element name="q2" type="double"></element>
					<element name="q3" type="double"></element>
					<element name="q4" type="double"></element>
					<element name="q1Dot" type="double"></element>
					<element name="q2Dot" type="double"></element>
					<element name="q3Dot" type="double"></element>
					<element name="q4Dot" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="qBI" substitutionGroup="tns:Abstract6DOFAttitude"
		type="tns:qBIType"></element>
	<complexType name="qBIType">
		<complexContent>
			<extension base="tns:Abstract6DOFAttitudeType">
				<sequence>
					<element name="q1" type="double"></element>
					<element name="q2" type="double"></element>
					<element name="q3" type="double"></element>
					<element name="q4" type="double"></element>
					<element name="q1Dot" type="double"></element>
					<element name="q2Dot" type="double"></element>
					<element name="q3Dot" type="double"></element>
					<element name="q4Dot" type="double"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<element name="Abstract12DOFState" abstract="true"
		type="tns:Abstract12DOFStateType"></element>
	<complexType name="Abstract12DOFStateType">
		<sequence />
	</complexType>

	<element name="State12DOF" substitutionGroup="tns:Abstract12DOFState">
		<complexType>
			<complexContent>
				<extension base="tns:Abstract12DOFStateType">
					<sequence>
						<element ref="tns:Abstract6DOFPosition"></element>
						<element ref="tns:Abstract6DOFAttitude"></element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<!-- OPTIMIZATION SETTINGS -->
	<element name="Optimization">
		<complexType>
			<sequence>
				<element name="nVariables" type="int"></element>
				<element name="variables" type="tns:ListOfString"></element>
				<element name="variablesMatrix" type="tns:ListOfDouble"></element>
				<element name="nObjectives" type="int"></element>
				<element name="objectives" type="tns:ListOfString"></element>
				<element name="objectivesMatrix" type="tns:ListOfDouble"></element>
				<element name="nConstraints" type="int"></element>
				<element name="constraints" type="tns:ListOfString"></element>
				<element name="constraintsMatrix" type="tns:ListOfDouble"></element>
				<element name="algorithm" type="string"></element>
				<element name="algorithmParameters" type="tns:ListOfDouble"></element>
			</sequence>
		</complexType>
	</element>

	<!-- OOUTPUTFILES LIST -->
	<element name="OutputFiles">
		<complexType>
			<sequence>
				<element name="paretoFrontVarsFileName" type="string"
					minOccurs="0"></element>
				<element name="paretoFrontCstrsFileName" type="string"
					minOccurs="0"></element>
				<element name="paretoFrontObjsFileName" type="string"
					minOccurs="0"></element>
				<element name="geometryFileName" type="string" minOccurs="0"></element>
				<element name="trajPostionFileName" type="string"></element>
				<element name="trajAttitudeFileName" type="string"
					minOccurs="0"></element>
				<element name="trajMiscFileName" type="string"></element>
				<element name="successProbabilityFileName" type="string"
					minOccurs="0"></element>
			</sequence>
		</complexType>
	</element>

	<!-- ANTENNA -->












	<complexType name="TelescopeType" abstract="true">
		<sequence>
			<element name="OpticalProperties">
				<complexType>
					<sequence>
						<element name="Diameter" type="double"></element>
						<element name="Efficiency" type="double"></element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>


	<complexType name="RadarType" abstract="true">
		<sequence>
			<element name="RadarProperties">
				<complexType>
					<sequence>
						<element name="GainMax" type="double"></element>
						<element name="Polarisation" type="string"></element>
						<element name="TiltAngle" type="double"></element>
						<element name="AreaEff" type="double"></element>
						<element name="Diameter" type="double"></element>
						<element name="Efficiency" type="double"></element>
						<element name="AngularBeamWidth" type="double"></element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>


	<element name="Antenna" type="tns:AntennaType" abstract="true"></element>

	<element name="Radar" type="tns:RadarType" abstract="true"></element>

	<element name="Telescope" type="tns:TelescopeType" abstract="true"></element>



	<complexType name="AntennaType" abstract="true">
		<sequence>
			<element name="PointingDirection">
				<complexType>
					<sequence>
						<element name="referenceSystem" type="string" minOccurs="0"></element>
						<element name="azimuth" type="double"></element>
						<element name="elevation" type="double"></element>
						<element name="azimuthDot" type="double" minOccurs="0"></element>
						<element name="elevationDot" type="double" minOccurs="0"></element>
					</sequence>
				</complexType>
			</element>
			<element name="EMproperties">
				<complexType>
					<sequence>
						<element name="GainMax" type="double"></element>
						<element name="Polarisation" type="string"></element>
						<element name="TiltAngle" type="double"></element>
						<element name="AreaEff" type="double"></element>
						<element name="Diameter" type="double"></element>
						<element name="Efficiency" type="double"></element>
						<element name="AngularBeamWidth" type="double"></element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>


	<complexType name="BudgetType" abstract="true">
		<sequence>
			<element name="Mass" type="double"></element>
			<element name="Power">
				<complexType>
					<sequence>
						<element name="powerConsumption" type="double"></element>
						<element name="powerOnPercentageInEclipse" type="double"></element>
						<element name="powerOnPercentageInDaylight" type="double"></element>
					</sequence>
				</complexType>
			</element>
			<element name="Size">
				<complexType>
					<sequence>
						<element name="Width" type="double"></element>
						<element name="Length" type="double"></element>
						<element name="Height" type="double"></element>
					</sequence>
				</complexType>
			</element>
			<element name="TemperatureRange">
				<complexType>
					<sequence>
						<element name="MinimumTemperature" type="double"></element>
						<element name="MaximumTemperature" type="double"></element>
					</sequence>
				</complexType>
			</element>
			<element name="DataRate" type="double"></element>
			<element name="FrequencyBand" type="double"></element>
		</sequence>
	</complexType>


	<element name="Transmitter" substitutionGroup="tns:Antenna">
		<complexType>
			<complexContent>
				<extension base="tns:AntennaType">
					<sequence>
						<element name="FedderLossTx" type="double"></element>
						<element name="DepointingLossTx" type="double"></element>
						<element name="Modulation">
							<complexType>
								<sequence>
									<element name="ModulationType" type="string"></element>
									<element name="DataRate" type="double"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="Receiver" substitutionGroup="tns:Antenna">
		<complexType>
			<complexContent>
				<extension base="tns:AntennaType">
					<sequence>
						<element name="GoverT" type="double"></element>
						<element name="FeederLossRx" type="double"></element>
						<element name="DepointingLossRx" type="double"></element>
						<element name="SystemTemperature">
							<complexType>
								<sequence>
									<element name="Tantenna">
										<complexType>
											<sequence>
												<element name="Tsky" type="double"></element>
												<element name="Tground" type="double"></element>
											</sequence>
										</complexType>
									</element>
									<element name="RxNoiseFigure" type="double"></element>
									<element name="ThermoFeeder" type="double"></element>
									<element name="ThermoReveicer" type="double"></element>
									<element name="TotalSystemTemp" type="double"></element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<!-- PAYLOADS -->






	<complexType name="AeroCoefFileType">
		<sequence>
			<element name="FileLocation" type="string"></element>
			<element name="CoefName" type="string"></element>
			<element name="NumberOfIndepVars" type="int"></element>
			<element name="IndepVarNames" type="tns:ListOfString"></element>
			<element name="IndepVarDiscretizationPoints" type="tns:ListOfInt"></element>
			<element name="IndepVarMin" type="tns:ListOfDouble"></element>
			<element name="IndepVarMax" type="tns:ListOfDouble"></element>
		</sequence>
	</complexType>



</schema>
