doc/scenario/SpaceScenario1.0.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="AbstractParticipants" abstract="true" type="ParticipantsType"></xs:element>

<xs:complexType name="ParticipantsType" abstract="true">
	<xs:attribute name="Name" use="required"></xs:attribute>
</xs:complexType>

<xs:element name="GroundStation" substitutionGroup="AbstractParticipants" type="GroundStationType"></xs:element>
<xs:element name="LaunchPad" substitutionGroup="AbstractParticipants" type="LaunchPadType"></xs:element>
<xs:element name="Target" substitutionGroup="AbstractParticipants" type="TargetType"></xs:element>
<xs:element name="SpaceVehicle" substitutionGroup="AbstractParticipants" type="SpaceVehicleType"></xs:element>

<xs:element name="SpaceScenario">
 	<xs:complexType>
 		<xs:sequence>
			<xs:element name="Participants">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="AbstractParticipants" minOccurs="0" maxOccurs="unbounded"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element> 	
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
 	</xs:complexType>
</xs:element>

<!-- GROUND ELEMENTS -->

<!-- Abstract type extended by all the ground elements -->
<xs:complexType name="GroundElementsType" abstract="true">
	<xs:complexContent>
			<xs:extension base="ParticipantsType">
				<xs:sequence>
					<xs:element name="Location">
  						<xs:complexType>
  							<xs:all>
  								<xs:element name="GroundPosition" type="GroundPositionType"></xs:element>
  								<xs:element name="CentralBody" type="BodyName"></xs:element>
  							</xs:all>
  						</xs:complexType>
  					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
</xs:complexType>

<!-- LaunchPad Type -->
<xs:complexType name="LaunchPadType">
		<xs:complexContent>
			<xs:extension base="GroundElementsType">
				<xs:sequence>
  					<xs:element name="LaunchPadClearingAltitude">
  						<xs:complexType>
  							<xs:simpleContent>
  								<xs:extension base="xs:double">
  									<xs:attribute name="unit" use="required" fixed="m"></xs:attribute>
  								</xs:extension>
  							</xs:simpleContent>
  						</xs:complexType>
  					</xs:element>
  				</xs:sequence>
  			</xs:extension>
		</xs:complexContent>
</xs:complexType>

<!-- Target Type -->
<xs:complexType name="TargetType">
		<xs:complexContent>
			<xs:extension base="GroundElementsType">
  			</xs:extension>
		</xs:complexContent>
</xs:complexType>

<!-- GroundStationType -->
<xs:complexType name="GroundStationType">
		<xs:complexContent>
			<xs:extension base="GroundElementsType">
				<xs:sequence>
					<xs:element name="AdditionalComponents" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="AbstractAdditionalComponent" minOccurs="0" maxOccurs="unbounded"></xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
  			</xs:extension>
		</xs:complexContent>
</xs:complexType>

<!-- ADDITIONAL COMPONENTS -->

<xs:element name="AbstractAdditionalComponent" abstract="true"></xs:element>

<!-- Abstract type extended by all the additional components -->
<xs:complexType name="AdditionalComponentType" abstract="true">
	<xs:sequence>
		<xs:element name="OperatingTime" type="TimeLineType"></xs:element>
		<xs:element name="PhysicalCharactersitics" type="PhysicalCharacteristicsType"></xs:element>
	</xs:sequence>
</xs:complexType>

<!-- Sensor -->
<xs:element name="Sensor" substitutionGroup="AbstractAdditionalComponent">
	<xs:complexType>
		<xs:complexContent>
			<xs:extension base="AdditionalComponentType">
				<xs:sequence>
					<xs:element name="FieldOfView" type="convexAngle"></xs:element>
					<xs:element name="Power">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="unit" use="required" fixed="dB"></xs:attribute>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="PointingDirection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="AbstractAngularData"></xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:element>

<!-- SPACE VEHICLES (satellite-spacecraft) -->

<xs:complexType name="SpaceVehicleType">
	<xs:complexContent>
		<xs:extension base="ParticipantsType">
			<xs:sequence>
				<xs:element name="Properties">
					<xs:complexType>
						<xs:all>
							<xs:element name="Physical" type="PhysicalCharacteristicsType"></xs:element>
							<xs:element name="Technical" type="TechnicalCharacteristicsType" minOccurs="0"></xs:element>
							<xs:element name="MainBody" minOccurs="0" type="MainBodyType"></xs:element>
							<xs:element name="Parachute" minOccurs="0" type="ParachuteType"></xs:element>
							<xs:element name="DesignOverview" minOccurs="0" type="SpacecraftDesignType"></xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="AdditionalComponents" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="AbstractAdditionalComponent" minOccurs="0" maxOccurs="unbounded"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TrajectoryPlan">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="AbstractTrajectory" maxOccurs="unbounded"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Satellite"></xs:enumeration>
						<xs:enumeration value="Spacecraft"></xs:enumeration>
						<xs:enumeration value="Re Entry Vehicle"></xs:enumeration>
						<xs:enumeration value="Launcher"></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="MainBodyType">
	<xs:all>
		<xs:element name="Mass">
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="unit" use="required" fixed="Kg"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>		
		</xs:element>
		<xs:element name="Diameter">
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="unit" use="required" fixed="m"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>						
		</xs:element>
		<xs:element name="CDcoefficients" type="xs:string"></xs:element>
		<xs:element name="GLoadLimit" type="xs:double"></xs:element>
		<xs:element name="RadiusNose">
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="unit" use="required" fixed="m"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>						
		</xs:element>
		<xs:element name="RadiusBase">
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="unit" use="required" fixed="m"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>						
		</xs:element>
		<xs:element name="SPHeatRateLimit">
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="unit" use="required" fixed="Mj/m^2"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>						
		</xs:element>
		<xs:element name="MaximumAltitude" type="AltitudeType"></xs:element>
		</xs:all>
</xs:complexType>

<xs:complexType name="ParachuteType">	
	<xs:all>
		<xs:element name="Mass">
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="unit" use="required" fixed="Kg"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>	
		</xs:element>
		<xs:element name="Diameter">
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="unit" use="required" fixed="m"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>						
		</xs:element>
		<xs:element name="CDcoefficients" type="xs:string"></xs:element>		
		<xs:element name="GLoadLimit" type="xs:double"></xs:element>			
	</xs:all>
</xs:complexType>

<xs:complexType name="SpacecraftDesignType">
	<xs:sequence>
		<xs:element ref = "Subsystem" minOccurs = "1" maxOccurs = "unbounded"></xs:element>
	</xs:sequence>
</xs:complexType>

<xs:element name="Subsystem" abstract = "true">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="budget" type="xs:string"></xs:element>
			<xs:element name="value" type="xs:double"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="Power" substitutionGroup = "Subsystem"></xs:element>
<xs:element name="Thermal" substitutionGroup = "Subsystem"></xs:element>
<xs:element name="Attitude" substitutionGroup = "Subsystem"></xs:element>
<xs:element name="Communication" substitutionGroup = "Subsystem"></xs:element>
<xs:element name="Propulsion" substitutionGroup = "Subsystem"></xs:element>
<xs:element name="DataMenagement" substitutionGroup = "Subsystem"></xs:element>
<xs:element name="Structure" substitutionGroup = "Subsystem"></xs:element>

<!-- Trajectories -->
<xs:element name = "AbstractTrajectory" abstract = "true"></xs:element>

<xs:element name = "ReEntry" substitutionGroup = "AbstractTrajectory" type="ReEntryType"></xs:element>
<xs:element name = "Loitering" substitutionGroup = "AbstractTrajectory" type = "LoiteringType"></xs:element>
<xs:element name = "Rendezvous" substitutionGroup = "AbstractTrajectory" type = "RendezvousType"></xs:element>
<xs:element name = "Ascent" substitutionGroup = "AbstractTrajectory"></xs:element>

<!-- Ascent Type -->
<xs:complexType name="AscentType">
</xs:complexType>

<!-- Re Entry Type -->
<xs:complexType name="ReEntryType">
	<xs:sequence>
		<xs:element name="Environment" type="EnvironmentType"></xs:element>
		<xs:choice>
		<xs:element name="SimulationMode" type="SimulationModeType"></xs:element>
		<xs:element name="WindowAnalysisMode" type="WindowAnalysisModeType"></xs:element>
		</xs:choice>
		<xs:element name="Propagation" type="PropagationType"></xs:element>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="SimulationModeType">
	<xs:sequence>
		<xs:element name="SimulationParameter">
			<xs:complexType>
						<xs:sequence>
							<xs:element name="TimeLine" type="TimeLineType"></xs:element>
							<xs:element name="InitialState">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CoordinateSystem" type="CoordinateSystemType"></xs:element>
										<xs:element ref="AbstractInitialStateType"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="FinalState" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TargetLongitude" type="LongitudeType"></xs:element>
										<xs:element name="TargetLatitude" type="LatitudeType"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="DispersionAnalysis" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="NumberSimulations" type="xs:int"></xs:element>
					<xs:element name="Deviations">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CapsuleBaseRadius">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:double">
												<xs:attribute name="unit" use="required" fixed="m"></xs:attribute>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>			
								</xs:element>
								<xs:element name="CapsuleMass">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:double">
												<xs:attribute name="unit" use="required" fixed="Kg"></xs:attribute>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>								
								</xs:element>
								<xs:element name="CapsuleCD" type="xs:double"></xs:element>
								<xs:element name="ParachuteCD" type="xs:double"></xs:element>
								<xs:element name="AtmosphereDensity" type="xs:double"></xs:element>
								<xs:element name="EntryLong">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:double">
												<xs:attribute name="unit" use="required" fixed="deg"></xs:attribute>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>									
								</xs:element>
								<xs:element name="EntryLat">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:double">
												<xs:attribute name="unit" use="required" fixed="deg"></xs:attribute>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>									
								</xs:element>
								<xs:element name="Velocity">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:double">
												<xs:attribute name="unit" use="required" fixed="Km/s"></xs:attribute>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>									
								</xs:element>
								<xs:element name="FlightPathAngle">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:double">
												<xs:attribute name="unit" use="required" fixed="deg"></xs:attribute>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>									
								</xs:element>
								<xs:element name="InertialHeading">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:double">
												<xs:attribute name="unit" use="required" fixed="deg"></xs:attribute>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>										
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="WindowAnalysisModeType">
	<xs:sequence>
		<xs:element name="SimulationParameter">
			<xs:complexType>
						<xs:sequence>
							<xs:element name="TimeLine" type="TimeLineType"></xs:element>
							<xs:element name="FinalState">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TargetLongitude" type="LongitudeType"></xs:element>
										<xs:element name="TargetLatitude" type="LatitudeType"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="FixedVariables">
			<xs:complexType>
				<xs:all>
					<xs:element name="BallisticCoeff">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="unit" use="required" fixed="Kg/m^2"></xs:attribute>
								</xs:extension>	
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="EntryAltitude">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="unit" use="required" fixed="Km"></xs:attribute>
								</xs:extension>	
							</xs:simpleContent>
						</xs:complexType>					
					</xs:element>
					<xs:element name="InertialVelocity">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="unit" use="required" fixed="Km/s"></xs:attribute>
								</xs:extension>	
							</xs:simpleContent>
						</xs:complexType>					
					</xs:element>
					<xs:element name="InertialHeading">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="unit" use="required" fixed="deg"></xs:attribute>
								</xs:extension>	
							</xs:simpleContent>
						</xs:complexType>					
					</xs:element>
				</xs:all>
			</xs:complexType>
		</xs:element>
		<xs:element name="NumberSimulation" type="xs:int"></xs:element>
		<xs:element name="Window">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="AbstractTrajectoryParam"></xs:element>
					<xs:element ref="AbstractTrajectoryParam"></xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
	</xs:sequence>
</xs:complexType>


<xs:element name="AbstractTrajectoryParam" abstract="true"></xs:element>

<xs:element name="CapsuleNoseRadius" substitutionGroup="AbstractTrajectoryParam">
	<xs:complexType>
		<xs:complexContent>
			<xs:extension base="RangeType">
				<xs:attribute name="unit" use="required" fixed="m"></xs:attribute>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
</xs:element>
<xs:element name="CapsuleBallisticCoeff" substitutionGroup="AbstractTrajectoryParam">
	<xs:complexType>
		<xs:complexContent>
			<xs:extension base="RangeType">
				<xs:attribute name="unit" use="required" fixed="Kg/m^2"></xs:attribute>			
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
</xs:element>
<xs:element name="InertialEntryVelocity" substitutionGroup="AbstractTrajectoryParam">
	<xs:complexType>
		<xs:complexContent>
			<xs:extension base="RangeType">
				<xs:attribute name="unit" use="required" fixed="Km/s"></xs:attribute>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
</xs:element>
<xs:element name="InertialFlightPathAngle" substitutionGroup="AbstractTrajectoryParam">
	<xs:complexType>
		<xs:complexContent>
			<xs:extension base="RangeType">
				<xs:attribute name="unit" use="required" fixed="deg"></xs:attribute>			
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
</xs:element>
<xs:element name="InertialHeading" substitutionGroup="AbstractTrajectoryParam">
	<xs:complexType>
		<xs:complexContent>
			<xs:extension base="RangeType">
				<xs:attribute name="unit" use="required" fixed="deg"></xs:attribute>			
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
</xs:element>

<xs:complexType name="RangeType">
	<xs:sequence>
		<xs:element name="min" type="xs:double"></xs:element>
		<xs:element name="max" type="xs:double"></xs:element>
	</xs:sequence>
</xs:complexType>

<!-- Loitering -->
<xs:complexType name="LoiteringType">
	<xs:complexContent>
		<xs:extension base="TrajectoryType">
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="TrajectoryType" abstract = "true">
	<xs:sequence>
		<xs:element name="Environment">
			<xs:complexType>
				<xs:complexContent>
					<xs:extension base="EnvironmentType">
						<xs:sequence>
							<xs:element name="PerturbingBody" type="BodyType" minOccurs="0" maxOccurs="unbounded"></xs:element>
							<xs:element name="AtmosphericDrag" type="xs:boolean"></xs:element>
							<xs:element name="SolarPressure" type="xs:boolean"></xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
		</xs:element>
		<xs:choice>
			<xs:element name="SimulationParameters">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Timeline">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="TimeLineType">
										<xs:sequence>
											<xs:element name="EndTime" type="xs:dateTime"></xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="InitialStatePosition">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CoordinateSystem" type="CoordinateSystemType"></xs:element>
									<xs:element ref="AbstractInitialStateType"></xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="InitialStateAttitude">
						<xs:complexType>
								<xs:sequence>
									<xs:element name="CoordinateSystem" type="CoordinateSystemBodyType"></xs:element>
									<xs:element name="StateVector">
										<xs:complexType>
										<xs:sequence>
											<xs:element ref="AbstractAngularData"></xs:element>
											<xs:element name="AngularVelocity">
												<xs:complexType>
													<xs:simpleContent>
														<xs:extension base="double3">
															<xs:attribute name="unit" use="required" fixed="deg/s"></xs:attribute>
														</xs:extension>
													</xs:simpleContent>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
						</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OptimizationParameters"></xs:element>
		</xs:choice>
		<xs:element name="TrajectoryPropagation" type="TrajectoryPropagationType"></xs:element>
		<xs:choice>
			<xs:element name="AttitudePropagation" type="AttitudePropagationType"></xs:element>
			<xs:element name="AttitudeInterpolation" type="AttitudeInterpolationType"></xs:element>
		</xs:choice>
	</xs:sequence>
	<xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
</xs:complexType>

<!-- Rendezvous Type -->
<xs:complexType name = "RendezvousType">
	<xs:sequence>
		<xs:element name="Environment">
			<xs:complexType>
				<xs:complexContent>
					<xs:extension base="EnvironmentType">
						<xs:sequence>
							<xs:element name="PerturbingBody" type="BodyType" minOccurs="0" maxOccurs="unbounded"></xs:element>
							<xs:element name="AtmosphericDrag" type="xs:boolean"></xs:element>
							<xs:element name="SolarPressure" type="xs:boolean"></xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
		</xs:element>
		<xs:element name="SimulationParameters">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="Timeline" type="TimeLineType"></xs:element>
					<xs:element name="InitialStatePosition">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CoordinateSystem" type="CoordinateSystemType"></xs:element>
								<xs:element ref="AbstractInitialStateType"></xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name = "Target" type = "xs:string"></xs:element>
		<xs:element name="ManoeuvrePlan">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="AbstractManoeuvre" minOccurs="0" maxOccurs="unbounded"></xs:element> 	
				</xs:sequence>
				<xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
				</xs:complexType>
		</xs:element>
	</xs:sequence>
</xs:complexType>

<xs:element name="AbstractManoeuvre" abstract = "true" type = "ManoeuvreType"></xs:element>

<xs:element name="FreeDrift" substitutionGroup="AbstractManoeuvre" type="STA_MANOEUVRE_DURATION"></xs:element>
<xs:element name="StationKeeping" substitutionGroup="AbstractManoeuvre" type="STA_MANOEUVRE_DURATION"></xs:element>
<xs:element name="DeltaV" substitutionGroup="AbstractManoeuvre" type="STA_MANOEUVRE_DELTAV"></xs:element>
<xs:element name="HomannTransfer" substitutionGroup="AbstractManoeuvre" type="STA_MANOEUVRE_R_POSITION"></xs:element>
<xs:element name="Imp2PointTransfer" substitutionGroup="AbstractManoeuvre" type="STA_MANOEUVRE_V_R_DURATION"></xs:element>
<xs:element name="ImpHoppVbarRadial" substitutionGroup="AbstractManoeuvre" type="STA_MANOEUVRE_V_POSITION"></xs:element>
<xs:element name="ImpHoppVbarTg" substitutionGroup="AbstractManoeuvre" type="STA_MANOEUVRE_V_POSITION"></xs:element>
<xs:element name="ImpHoppNoVbar" substitutionGroup="AbstractManoeuvre" type="STA_MANOEUVRE_V_POSITION" ></xs:element>
<xs:element name="XThrustTransfer" substitutionGroup="AbstractManoeuvre" type="STA_MANOEUVRE_R_POSITION"></xs:element>
<xs:element name="ForcedVbar" substitutionGroup="AbstractManoeuvre" type="STA_MANOEUVRE_V_POSITION"></xs:element>
<xs:element name="ForcedRbar" substitutionGroup="AbstractManoeuvre" type="STA_MANOEUVRE_R_POSITION"></xs:element>
<xs:element name="ContHoppVbar" substitutionGroup="AbstractManoeuvre" type="STA_MANOEUVRE_V_POSITION"></xs:element>

<xs:complexType name="ManoeuvreType" abstract="true">
	<xs:attribute name="status" use="required">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="active"></xs:enumeration>
				<xs:enumeration value="inactive"></xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
</xs:complexType>

<xs:complexType name="STA_MANOEUVRE_DURATION">
	<xs:complexContent>
		<xs:extension base="ManoeuvreType">
			<xs:all>
				<xs:element name="Duration" type="xs:double"></xs:element>
			</xs:all>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="STA_MANOEUVRE_DELTAV">
	<xs:complexContent>
		<xs:extension base="ManoeuvreType">
			<xs:all>
				<xs:element name="DeltaVx" type="xs:double"></xs:element>
				<xs:element name="DeltaVy" type="xs:double"></xs:element>
				<xs:element name="DeltaVz" type="xs:double"></xs:element>
				<xs:element name="Duration" type="xs:double"></xs:element>
			</xs:all>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="STA_MANOEUVRE_V_POSITION">
	<xs:complexContent>
		<xs:extension base="ManoeuvreType">
			<xs:all>
				<xs:element name="DisplacementV-bar" type="xs:double"></xs:element>
			</xs:all>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="STA_MANOEUVRE_R_POSITION">
	<xs:complexContent>
		<xs:extension base="ManoeuvreType">
			<xs:all>
				<xs:element name="DisplacementR-bar" type="xs:double"></xs:element>
			</xs:all>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="STA_MANOEUVRE_V_R_POSITION">
	<xs:complexContent>
		<xs:extension base="ManoeuvreType">
			<xs:all>
				<xs:element name="DisplacementV-bar" type="xs:double"></xs:element>
				<xs:element name="DisplacementR-bar" type="xs:double"></xs:element>
			</xs:all>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="STA_MANOEUVRE_V_R_DURATION">
	<xs:complexContent>
		<xs:extension base="ManoeuvreType">
			<xs:all>
				<xs:element name="DisplacementV-bar" type="xs:double"></xs:element>
				<xs:element name="DisplacementR-bar" type="xs:double"></xs:element>
				<xs:element name="Duration" type="xs:double"></xs:element>
			</xs:all>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<!-- Environment -->
<xs:complexType name="EnvironmentType">
	<xs:sequence>
		<xs:element name="CentralBody" type="BodyType"></xs:element>
	</xs:sequence>
</xs:complexType>

<!-- Propagation and interpolation types -->
<xs:complexType name="PropagationType" abstract="true">
	<xs:sequence>
		<xs:element name="IntegratorType" type="IntegratorType">
		</xs:element>
		<xs:element ref="AbstractNumericalParameter" maxOccurs="2"></xs:element>
	</xs:sequence>
</xs:complexType>

<xs:simpleType name="IntegratorType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="RK4"/>
		<xs:enumeration value="RK4-5"/>
		<!-- and so on... -->
	</xs:restriction>
</xs:simpleType>

<xs:element name="AbstractNumericalParameter" abstract="true"></xs:element>
<xs:element name="Timestep" substitutionGroup="AbstractNumericalParameter">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:double">
				<xs:attribute name="unit" use="required" fixed="s"></xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:element>
<xs:element name="Tolerance" substitutionGroup="AbstractNumericalParameter" type="xs:double"></xs:element>

<xs:complexType name="TrajectoryPropagationType">
	<xs:complexContent>
		<xs:extension base="PropagationType">
			<xs:sequence>
				<xs:element name="PropagatorType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="TWO BODY"/>
							<xs:enumeration value="J2"/>
							<xs:enumeration value="J4"/>
							<!-- and so on... -->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="AttitudePropagationType">
	<xs:complexContent>
		<xs:extension base="PropagationType">
			<xs:sequence>
				<xs:element name="ExternCouples" minOccurs="1" maxOccurs="4">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="NONE"></xs:enumeration>
							<xs:enumeration value="GRAVITY GRADIENT"/>
							<xs:enumeration value="MAGNETIC"/>
							<xs:enumeration value="DUE TO ATMOSPHERE"/>
							<xs:enumeration value="DUE TO SOLAR RADIATION"></xs:enumeration>
							<!-- and so on... -->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="AttitudeInterpolationType">
<xs:complexContent>
		<xs:extension base="InterpolationType">
		<xs:sequence>
		<xs:element name="AttitudeFile">
			<xs:complexType>
				<xs:simpleContent>
  					<xs:extension base="xs:string">
						<xs:attribute name="FormattedData" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Euler angles 123"></xs:enumeration>
									<xs:enumeration value="Quaternions"></xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
		</xs:element>
		</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="InterpolationType" abstract="true">
	<xs:sequence>
		<xs:element name="InterpolatorType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="LAGRANGE"></xs:enumeration>
					<xs:enumeration value="SPLINE"></xs:enumeration>
					<xs:enumeration value="HERMITE"></xs:enumeration>
			  		<xs:enumeration value="POLYNOMIAL"></xs:enumeration>
					<!-- and so on... -->
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="Order" type="PositiveInt"></xs:element>
	</xs:sequence>
</xs:complexType>

<!-- Satellite technical characteristics -->
<xs:complexType name="TechnicalCharacteristicsType">
	<xs:all>
		<xs:element name="DragCoefficient" type="xs:double"></xs:element>
		<xs:element name="ReflectionCoefficient" type="xs:double"></xs:element>
		<xs:element name="Propulsion" type="PropulsionType"></xs:element>
		<xs:element name="Payload">
			<xs:complexType>
				<xs:all>
					<xs:element name="mass">
  						<xs:complexType>
  							<xs:simpleContent>
  								<xs:extension base="xs:double">
  									<xs:attribute name="unit" use="required" fixed="Kg"></xs:attribute>
  								</xs:extension>
  							</xs:simpleContent>
  						</xs:complexType>
  					</xs:element>
				</xs:all>
			</xs:complexType>
		</xs:element>
	</xs:all>
</xs:complexType>

<xs:complexType name="PropulsionType">
	<xs:all>
		<xs:element name="NumberOfEngines" type="xs:int"></xs:element>
		<xs:element name="Isp">
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="unit" use="required" fixed="s"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
		</xs:element>
		<xs:element name="ThrustPerEngine">
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="unit" use="required" fixed="N"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
		</xs:element>
		<xs:element name="PropellantMass">
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="unit" use="required" fixed="kg"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
		</xs:element>
		<xs:element name="Type">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="COLD GAS"/>
					<xs:enumeration value="THERMAL-SOLID"/>
					<xs:enumeration value="THERMAL-LIQUID"/>
					<xs:enumeration value="ELECTRIC"/>
					<xs:enumeration value="NUCLEAR"/>
					<!-- and so on... -->
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
	</xs:all>
</xs:complexType>

<!-- UTILITIES (global elements and global types, useful for every SpaceScenario elements) -->

<!-- Abstract elements -->
<xs:element name="AbstractAngularData" abstract="true"></xs:element>
<xs:element name="EulerAngles123" substitutionGroup="AbstractAngularData">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="EulerAngleType">
				<xs:attribute name="unit" use="required" fixed="deg"></xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:element>
<xs:element name="Quaternion" substitutionGroup="AbstractAngularData" type="QuaternionDouble4"></xs:element>


<xs:simpleType name="ListofAngle">
	<xs:list itemType="AngleValue"></xs:list>
</xs:simpleType>

<xs:simpleType name="EulerAngleType">
		<xs:restriction base="ListofAngle">
			<xs:minLength value="3"></xs:minLength>
			<xs:maxLength value="3"></xs:maxLength>
		</xs:restriction>
</xs:simpleType>

<xs:simpleType name="QuaternionDouble">
	<xs:restriction base="xs:double">
		<xs:minInclusive value="-1"></xs:minInclusive>
		<xs:maxInclusive value="1"></xs:maxInclusive>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="QuaternionList">
	<xs:list itemType="QuaternionDouble"></xs:list>
</xs:simpleType>

<xs:simpleType name="QuaternionDouble4">
	<xs:restriction base="QuaternionList">
		<xs:minLength value="4"></xs:minLength>
		<xs:maxLength value="4"></xs:maxLength>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="AzimuthElevationType">
	<xs:restriction base="ListofAngle">
		<xs:minLength value="2"></xs:minLength>
		<xs:maxLength value="2"></xs:maxLength>
	</xs:restriction>
</xs:simpleType>

<xs:element name="AbstractInitialStateType" abstract="true"></xs:element>
<xs:element name="StateVector" substitutionGroup="AbstractInitialStateType" type="StateVectorType"></xs:element>
<xs:element name="KeplerianElements" substitutionGroup="AbstractInitialStateType" type="KeplerianElementsType"></xs:element>
<xs:element name="SphericalCoordinates" substitutionGroup="AbstractInitialStateType" type="SphericalCoordinatesType"></xs:element>

<xs:complexType name="StateVectorType">
	<xs:all>
		<xs:element name="position">
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="double3">
						<xs:attribute name="unit" use="required" fixed="Km"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
		</xs:element>
		<xs:element name="velocity">
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="double3">
						<xs:attribute name="unit" use="required" fixed="Km/s"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
		</xs:element>
	</xs:all>
</xs:complexType>

<xs:complexType name="KeplerianElementsType">
	<xs:sequence>
  		<xs:element name="SemiMajorAxis">
  			<xs:complexType>
  				<xs:simpleContent>
  					<xs:extension base="nonNegativeDouble">
  						<xs:attribute name="unit" use="required" fixed="Km"></xs:attribute>
  					</xs:extension>
  				</xs:simpleContent>
  			</xs:complexType>
  		</xs:element>
  		<xs:element name="Eccentricity" type="nonNegativeDouble"/>
  		<xs:element name="Inclination" type="convexAngle"/>
  		<xs:element name="RAAN" type="Angle"/>
  		<xs:element name="ArgumentOfPeriapsis" type="Angle"/>
  		<xs:element name="TrueAnomaly" type="Angle"/>
  	</xs:sequence>
  	<xs:attribute name="Name">
  		<xs:simpleType>
  			<xs:restriction base="xs:string">
  				<xs:enumeration value="GEOSTATIONARY"></xs:enumeration>
  				<xs:enumeration value="MONLIYA"></xs:enumeration>
  				<!-- and so on... -->
  			</xs:restriction>
  		</xs:simpleType>
  	</xs:attribute>
</xs:complexType>

<xs:complexType name="SphericalCoordinatesType">
	<xs:sequence>
		<xs:element name="position" type="GroundPositionType"></xs:element>
		<xs:element name="InertialVelocity">
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="unit" use="required" fixed="Km/s"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
		</xs:element>
		<xs:element name="InertialFlightPathAngle">
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="unit" use="required" fixed="deg"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
		</xs:element>
		<xs:element name="InertialHeading">
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="unit" use="required" fixed="deg"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
		</xs:element>
	</xs:sequence>
</xs:complexType>

<!-- Angles -->
<xs:complexType name="Angle">
	<xs:simpleContent>
		<xs:extension base="AngleValue">
			<xs:attribute name="unit" use="required" fixed="deg"></xs:attribute>
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>

<xs:simpleType name="AngleValue">
	<xs:restriction base="xs:double">
		<xs:minInclusive value="0"></xs:minInclusive>
		<xs:maxInclusive value="360"></xs:maxInclusive>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="convexAngleValue">
	<xs:restriction base="xs:double">
		<xs:minInclusive value="0"></xs:minInclusive>
		<xs:maxInclusive value="180"></xs:maxInclusive>
	</xs:restriction>
</xs:simpleType>

<xs:complexType name="convexAngle">
	<xs:simpleContent>
		<xs:extension base="convexAngleValue">
			<xs:attribute name="unit" use="required" fixed="deg"></xs:attribute>
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>

<!-- Physical Characteristics Type-->
<xs:complexType name="PhysicalCharacteristicsType">
	<xs:all>
  		<xs:element name="volume">
  			<xs:complexType>
  				<xs:simpleContent>
  					<xs:extension base="xs:double">
  						<xs:attribute name="unit" use="required" fixed="m^3"></xs:attribute>
  					</xs:extension>
  				</xs:simpleContent>
  			</xs:complexType>
  		</xs:element>
  		<xs:element name="mass">
  			<xs:complexType>
  				<xs:simpleContent>
  					<xs:extension base="xs:double">
  						<xs:attribute name="unit" use="required" fixed="Kg"></xs:attribute>
  					</xs:extension>
  				</xs:simpleContent>
  			</xs:complexType>
  		</xs:element>
  		<xs:element name="surface">
  			<xs:complexType>
  				<xs:simpleContent>
  					<xs:extension base="xs:double">
  						<xs:attribute name="unit" use="required" fixed="m^2"></xs:attribute>
  					</xs:extension>
  				</xs:simpleContent>
  			</xs:complexType>
  		</xs:element>  		
  	</xs:all>
</xs:complexType>

<!-- Body -->
<xs:simpleType name="BodyName">
 	<xs:restriction base="xs:string">
 		<xs:enumeration value="SUN"/>
 		<xs:enumeration value="EARTH"/>
 		<xs:enumeration value="MERCURY"/>
 		<xs:enumeration value="VENUS"/>
 		<xs:enumeration value="MARS"/>
 		<xs:enumeration value="JUPITER"/>
 		<xs:enumeration value="SATURN"/>
 		<xs:enumeration value="URANUS"/>
 		<xs:enumeration value="NEPTUNE"/>
 		<xs:enumeration value="PLUTO"/>
 		<!-- and so on... -->
 	</xs:restriction>
</xs:simpleType>

<xs:complexType name="BodyType">
	<xs:sequence>
		<xs:element name="GravityModel">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="ModelName" type="xs:string"></xs:element>
					<xs:element name="NumberOfZonals" type="xs:int"></xs:element>
					<xs:element name="NumberOfTesserals" type="xs:int"></xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="AtmosphereModel" type="xs:string"></xs:element>
	</xs:sequence>
	<xs:attribute name="Name" type="BodyName" use="required"></xs:attribute>
</xs:complexType>

<!-- Number Types -->
<xs:simpleType name="ListOfDouble">
  <xs:list itemType="xs:double" /> 
</xs:simpleType>

<xs:simpleType name="double3">
	<xs:restriction base="ListOfDouble">
  		<xs:minLength value="3" /> 
  		<xs:maxLength value="3" /> 
  	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="nonNegativeDouble">
	<xs:restriction base="xs:double">
		<xs:minInclusive value="0"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="PositiveInt">
	<xs:restriction base="xs:int">
		<xs:minExclusive value="0"></xs:minExclusive>
	</xs:restriction>
</xs:simpleType>

<!-- Latitude, longiutde, altitude -->
<xs:complexType name="LatitudeType">
	<xs:simpleContent>
		<xs:extension base="LatitudeValue">
			<xs:attribute name="unit" use="required" fixed="deg"></xs:attribute>
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>

<xs:simpleType name="LatitudeValue">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="-90"></xs:minInclusive>
			<xs:maxInclusive value="90"></xs:maxInclusive>
		</xs:restriction>
</xs:simpleType>

<xs:complexType name="LongitudeType">
	<xs:simpleContent>
		<xs:extension base="LongitudeValue">
			<xs:attribute name="unit" use="required" fixed="deg"></xs:attribute>
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>

<xs:simpleType name="LongitudeValue">
	<xs:restriction base="xs:double">
		<xs:minInclusive value="-180"></xs:minInclusive>
		<xs:maxInclusive value="180"></xs:maxInclusive>
	</xs:restriction>
</xs:simpleType>

<xs:complexType name="AltitudeType">
	<xs:simpleContent>
		<xs:extension base="AltitudeValue">
			<xs:attribute name="unit" use="required" fixed="Km"></xs:attribute>
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>

<xs:simpleType name="AltitudeValue">
	<xs:restriction base="xs:double">
		<xs:minInclusive value="-100"></xs:minInclusive>
	</xs:restriction>
</xs:simpleType>

<xs:complexType name="GroundPositionType">
	<xs:all>
		<xs:element name="Latitude" type="LatitudeType"></xs:element>
		<xs:element name="Longitude" type="LongitudeType"></xs:element>
		<xs:element name="Altitude" type="AltitudeType"></xs:element>
	</xs:all>
</xs:complexType>

<!-- Timeline Type -->
<xs:complexType name="TimeLineType">
	<xs:sequence>
		<xs:element name="StartTime" type="xs:dateTime"/>
		<xs:element name="StepTime">
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="unit" use="required" fixed="s"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
		</xs:element>
	</xs:sequence>
</xs:complexType>

<!-- Coordinates systems -->
<xs:simpleType name="CoordinateSystemType">
  		<xs:restriction base="xs:string">
  			<xs:enumeration value="PLANETO FIXED"/>
  			<xs:enumeration value="INERTIAL J2000"/>
  			<xs:enumeration value="INERTIAL B1950"></xs:enumeration>
  			<xs:enumeration value="SPHERICAL"></xs:enumeration>
  			<xs:enumeration value="ECLIPTIC"/>
  			<!-- and so on... -->
		</xs:restriction>
</xs:simpleType>

<xs:complexType name="CoordinateSystemBodyType">
	<xs:choice>
		<xs:element name="BodyCentered"></xs:element>
		<xs:element name="NoBodyCentered">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="ReferenceSystemCenter">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="double3">
									<xs:attribute name="unit" use="required" fixed="Km"></xs:attribute>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
	</xs:choice>
</xs:complexType>

</xs:schema>
